<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layouts/sub_layout"
	  th:with="headerTitle=#{tfcacdntmng.trafficAcdntRegPage.contentAccidentRegistraion}">
	<div layout:fragment="content" id="gis-with-container">
		<div id="map" class="map">
		</div>
	    <div id="gisinfo-container" class="sub-container">
			<div class="alert-div">
				<p class="alert-box alert-warning mb30" th:text="#{common.map.location.help}"></p>
			</div>
            <form id="trafficAcdntRegForm" name="trafficAcdntRegForm" method="post">
        		<input type="hidden" id="lng" name="lng" value="">
        		<input type="hidden" id="lat" name="lat" value="">
				<div class="crackdown-wrap">
					<div class="formRegistTitle mb30" onclick="accidentDev()">
						<h2 th:text="#{tfcacdntmng.trafficAcdntRegPage.contentAccidentInfo}">Accident Information</h2>
					</div>
					<div class="formRegistList">
						<label class="control-label" for="acdntDt" th:text="#{tfcacdntmng.trafficAcdntAllInfo.accidentDate}">Accident Date/Time</label>
						<input type="datetime-local" id="acdntDt" name="acdntDt" th:placeholder="#{tfcacdntmng.trafficAcdntAllInfo.accidentDate}" class="">
					</div>
					<div class="formRegistList">
						<label class="control-label" for="acdntTyCd" th:text="#{tfcacdntmng.trafficAcdntAllInfo.accidentType}">Accident Type</label>
						<select id="acdntTyCd" name="acdntTyCd">
							<option value="" th:text="#{tfcacdntmng.trafficAcdntRegPage.select}">select</option>
							<option value="ACT001" th:text="#{tfcacdntmng.trafficAcdntAllInfo.accidentType.ACT001}">차대사람 횡단중</option>
							<option value="ACT002" th:text="#{tfcacdntmng.trafficAcdntAllInfo.accidentType.ACT002}">차대사람 차도통행중</option>
							<option value="ACT003" th:text="#{tfcacdntmng.trafficAcdntAllInfo.accidentType.ACT003}">차대사람 길가장자리구역통행중</option>
							<option value="ACT004" th:text="#{tfcacdntmng.trafficAcdntAllInfo.accidentType.ACT004}">차대사람 보도통행중</option>
							<option value="ACT005" th:text="#{tfcacdntmng.trafficAcdntAllInfo.accidentType.ACT005}">차대차 정면충돌</option>
							<option value="ACT006" th:text="#{tfcacdntmng.trafficAcdntAllInfo.accidentType.ACT006}">차대차 측면충돌</option>
							<option value="ACT007" th:text="#{tfcacdntmng.trafficAcdntAllInfo.accidentType.ACT007}">차대차 후진중충돌</option>
							<option value="ACT008" th:text="#{tfcacdntmng.trafficAcdntAllInfo.accidentType.ACT008}">차대차 충돌</option>
						</select>
					</div>
					<div class="formRegistList">
						<label class="" for="roadAddr" th:text="#{tfcenfmng.trafficEnfceRegPage.contentRoadAddress}">Road Address</label>
						<input type="text" id="roadAddr" autocomplete="off" list="loadedRoadAddr" name="roadAddr" required title="Input or select street name." th:placeholder="#{tfcenfmng.trafficEnfceRegPage.contentRoadAddress}" class="">
						<datalist id="loadedRoadAddr">
						</datalist>
					</div>
					<div class="formRegistList">
						<label class="control-label" for="acdntChildYn" th:text="#{tfcacdntmng.trafficAcdntRegPage.childAccident}">Child Accident</label>
						<select id="acdntChildYn" name="acdntChildYn">
							<option value="Y" th:text="#{tfcacdntmng.trafficAcdntRegPage.yes}"></option>
							<option value="N" selected th:text="#{tfcacdntmng.trafficAcdntRegPage.no}"> </option>
						</select>
					</div>
					<div class="formRegistList">
						<label for="acdntTyDtls" th:text="#{tfcacdntmng.trafficAcdntRegPage.acdntTyDtls}">Accident Details</label>
						<input type="text" id="acdntTyDtls" name="acdntTyDtls" th:placeholder="#{tfcacdntmng.trafficAcdntRegPage.placeholder.acdntTyDtls}">
					</div>
				</div>
				<div id="accident-party-container">

				</div>
				<div id="modal-passenger-wrap">

				</div>
				 <div class="formRegistList list-plus">
	                <button type="button" class="subBtn" th:text="#{tfcacdntmng.trafficAcdntRegPage.addDriver}" onclick="addAccidentPartyWrap()">사고자 추가 입력</button>
	            </div>
				<div class="crackdown-wrap">
					<div class="formRegistTitle mb30">
						<h2 th:text="#{tfcenfmng.trafficEnfceFileUpload.fileUplaod}">첨부파일 업로드</h2>
					</div>
					<div class="formRegistList">
						<label th:text="#{tfcenfmng.trafficEnfceFileUpload.imgVideo}">사진/동영상</label>
						<div class="camera-upload-list">
							<ul id="img-file-list-wrapper">
								<li class="img-file-list camera-first-list active" onclick="openResource()">
									<img th:src="@{/images/picture-plus.png}">
								</li>
							</ul>
						</div>
						<div class="camera-btn">
							<input id="targetFileInput" type="file" style="display:none;" onchange="fileManager.addFile(this, fileManager)">
							<p>※ You can skip without entering information.</p>
						</div>
					</div>
				</div>
                <div class="btn-wrap is-fixed">
                     <button type="button" id="modalOn" class="mainFixBtn default-btn disabled-radius" th:text="#{tfcacdntmng.addLayer.content.btn.regist}"></button>
                </div>
    	</form>
    	<div id="modal-accident-info" class="modal">
		<div class="modalContainer" style="max-height:none;">
			<div class="modalHead">
				<h2 class="modalTitle" th:text="#{tfcacdntmng.trafficAcdntRegPage.modal.title}">단속등록 확인</h2>
				<img src="/images/close.png" id="modalOff" class="modalClose">
			</div>
			 <div class="modalBody">
				  <div id="modalRegistListDiv" class="modalRegistList">
					  <div id="accidentConfirmInfo">
					  </div>
			 	 </div>
			 </div>
			 <div class="modalBtnWrap">
				 <button type="button" id="infoCheckBtn" class="modalSubmitBtn" onclick="accidentRegisterSubmit(this)" th:text="#{tfcacdntmng.addLayer.content.btn.submit}">Submit</button>
			 </div>
		</div>
	</div>
	</div>
</html>
<script type="text/javascript" th:inline="javascript">

	var errorMsg = /*[[${resultMsg}]]*/;
    if(errorMsg != null && errorMsg != ' '){
		alert(errorMsg);
	}
	
	$(document).ready(function(){
		modalToggle();
		addAccidentPartyWrap();
	});
	
	function addAccidentPartyWrap(){
		MozAtesPoliceApp.addAccidentPartyV2({
				partyTitle: /*[[#{tfcacdntmng.trafficAcdntRegPage.contentAccidentParty}]]*/,
				driverLicenseId: /*[[#{tfcacdntmng.trafficAcdntRegPage.contentDriverLicenseId}]]*/,
				accidentTarget: /*[[#{tfcacdntmng.trafficAcdntRegPage.contentAccidentTarget}]]*/,
				accidentTargetCd1: /*[[#{tfcacdntmng.trafficAcdntRegPage.accidentTargetCd.ATT000}]]*/,
				accidentTargetCd2: /*[[#{tfcacdntmng.trafficAcdntRegPage.accidentTargetCd.ATT001}]]*/,
				vehicleNo: /*[[#{tfcacdntmng.trafficAcdntRegPage.contentVehicleNo}]]*/,
				vehicleType: /*[[#{tfcacdntmng.trafficAcdntRegPage.contentVehicleType}]]*/,
				driveYn: /*[[#{tfcacdntmng.trafficAcdntRegPage.contentDvStatus}]]*/,
				driveY: /*[[#{tfcacdntmng.trafficAcdntRegPage.drivingStatusY}]]*/,
				driveN: /*[[#{tfcacdntmng.trafficAcdntRegPage.drivingStatusN}]]*/,
				accidentDamage: /*[[#{tfcacdntmng.trafficAcdntRegPage.contentAccidentDamage}]]*/,
				accidentDamageCd1: /*[[#{tfcacdntmng.trafficAcdntRegPage.accidentDamageCd.ADC000}]]*/,
				accidentDamageCd2: /*[[#{tfcacdntmng.trafficAcdntRegPage.accidentDamageCd.ADC001}]]*/,
				accidentDamageCd3: /*[[#{tfcacdntmng.trafficAcdntRegPage.accidentDamageCd.ADC002}]]*/,
				accidentDamageCd4: /*[[#{tfcacdntmng.trafficAcdntRegPage.accidentDamageCd.ADC003}]]*/,
				targetPhone: /*[[#{tfcacdntmng.trafficAcdntRegPage.contentAccidentTargetPhone}]]*/,
				targetBirth: /*[[#{tfcacdntmng.trafficAcdntRegPage.contentAccidentTargetBirthday}]]*/,
				targetName: /*[[#{tfcacdntmng.trafficAcdntRegPage.contentAccidentTargetName}]]*/,
				deadYn: /*[[#{tfcacdntmng.trafficAcdntRegPage.contentDeathStatus}]]*/,
				deadY: /*[[#{tfcacdntmng.trafficAcdntRegPage.contentDeath}]]*/,
				deadN: /*[[#{tfcacdntmng.trafficAcdntRegPage.contentNotDeath}]]*/,
				passenger: /*[[#{tfcacdntmng.trafficAcdntRegPage.contentPassenger}]]*/,
				addPassenger: /*[[#{tfcacdntmng.trafficAcdntRegPage.addPassenger}]]*/
		});
	}

	
    function openResource(){
        let input = document.getElementById('targetFileInput');
        input.accept = 'image/*'
        input.removeAttribute('capture');
        input.click();
    }
    
    function openCamera() {
        let input = document.getElementById('targetFileInput');
        input.accept = 'image/*'
        input.capture = 'camera'
        input.click();
    }

	const fileManager = new MozAtesPoliceApp.fileManager();

	function accidentRegisterSubmit(_this) {
		if(_this.classList != null && !_this.classList.contains('on')){
			return;
		}
		
		document.getElementById("lat").value = map.getLat();
		document.getElementById("lng").value = map.getLng();
		
		if(!document.trafficAcdntRegForm.checkValidity()) {
			document.trafficAcdntRegForm.reportValidity();
			return;
		}
		
		const formData = new FormData(document.trafficAcdntRegForm);
		
		const fileList = fileManager.getFileList();
		for(const file of fileList) {
			if (!file.is_delete) {
				formData.append("files", file);
			}
		}
		
		let accidentPartyList = document.querySelectorAll('.accident-party-wrap');

		let accidentPartyInfoList = new Array();
		
		for(var i = 0; i < accidentPartyList.length; i++){
			let mozTfcAcdntTrgtInfo = new Object();
			let acdntTrgtCd = document.getElementById('accidentTarget_'+i).value;
	
			mozTfcAcdntTrgtInfo.acdntTrgtCd = acdntTrgtCd;
			
			if(acdntTrgtCd == 'ATT000'){
				let dvrLcenId = document.getElementById('driverLicenseId_'+i).value;
				let vhRegNo = document.getElementById('vhRegNo_'+i).value;
				let vhTy = document.getElementById('vhTy_'+i).value;
				let dvYn = document.getElementById('dvYn_'+i).value;
				
				mozTfcAcdntTrgtInfo.dvrLcenId = dvrLcenId;
				mozTfcAcdntTrgtInfo.vhRegNo = vhRegNo;
				mozTfcAcdntTrgtInfo.vhTy = vhTy;
				mozTfcAcdntTrgtInfo.dvYn = dvYn;
			}
			let acdntDmgCd = document.getElementById('acdntDmgCd_'+i).value;
			let acdntTrgtPno = document.getElementById('acdntTrgtPno_'+i).value;
			let acdntTrgtBrth = document.getElementById('acdntTrgtBrth_'+i).value;
			let acdntTrgtNm = document.getElementById('acdntTrgtNm_'+i).value;
			let deadYn = document.getElementById('deadYn_'+i).value;

			mozTfcAcdntTrgtInfo.acdntDmgCd = acdntDmgCd;
			mozTfcAcdntTrgtInfo.acdntTrgtPno = acdntTrgtPno;
			mozTfcAcdntTrgtInfo.acdntTrgtBrth = acdntTrgtBrth;
			mozTfcAcdntTrgtInfo.acdntTrgtNm = acdntTrgtNm;
			mozTfcAcdntTrgtInfo.acdntTrgtSortNo = i;
			mozTfcAcdntTrgtInfo.deadYn = deadYn;
			
			let tfcAcdntTrgtPnrInfo = new Array();
			
			if(acdntTrgtCd == 'ATT000'){
				console.log('한다')
				let passengerListDiv = document.querySelectorAll('.passenger'+i);
				if(passengerListDiv != null &&  passengerListDiv.length > 0){
					for(var j = 0; j < passengerListDiv.length; j++){
						console.log('한다')
						let mozTfcAcdntTrgtPnrInfo = new Object();
								
						let extendsIdName = i+"_"+j;
						let pnrDvrLcenId = document.getElementById('pnrDvrLcenId'+extendsIdName).value;
						let dvrLcenTy = document.getElementById('dvrLcenTy'+extendsIdName).value;
						let pnrNm = document.getElementById('pnrNm'+extendsIdName).value;
						let pnrAddr = document.getElementById('pnrAddr'+extendsIdName).value;
						let pnrBrth = document.getElementById('pnrBrth'+extendsIdName).value;
						let pnrPno = document.getElementById('pnrPno'+extendsIdName).value;
						let pnrEmail = document.getElementById('pnrEmail'+extendsIdName).value;
						let pnrDmgCd = document.getElementById('pnrDmgCd'+extendsIdName).value;
						let pnrDmgDesc = document.getElementById('pnrDmgDesc'+extendsIdName).value;
						let pnrDrvrRltnCd = document.getElementById('pnrDrvrRltnCd'+extendsIdName).value;
						let drvYn = document.getElementById('drvYn'+extendsIdName).value;
						let pnrDeadYn = document.getElementById('pnrDeadYn'+extendsIdName).value;
						
						mozTfcAcdntTrgtPnrInfo.pnrDvrLcenId = pnrDvrLcenId;
						mozTfcAcdntTrgtPnrInfo.dvrLcenTy = dvrLcenTy;
						mozTfcAcdntTrgtPnrInfo.pnrNm = pnrNm;
						mozTfcAcdntTrgtPnrInfo.pnrAddr = pnrAddr;
						mozTfcAcdntTrgtPnrInfo.pnrBrth = pnrBrth;
						mozTfcAcdntTrgtPnrInfo.pnrPno = pnrPno;
						mozTfcAcdntTrgtPnrInfo.pnrEmail = pnrEmail;
						mozTfcAcdntTrgtPnrInfo.pnrDmgCd = pnrDmgCd;
						mozTfcAcdntTrgtPnrInfo.pnrDmgDesc = pnrDmgDesc;
						mozTfcAcdntTrgtPnrInfo.pnrDrvrRltnCd = pnrDrvrRltnCd;
						mozTfcAcdntTrgtPnrInfo.pnrSortNo = j;
						mozTfcAcdntTrgtPnrInfo.drvYn = drvYn;
						mozTfcAcdntTrgtPnrInfo.pnrDeadYn = pnrDeadYn;
						
						tfcAcdntTrgtPnrInfo.push(mozTfcAcdntTrgtPnrInfo);
					}
				}
			}
			
			if(tfcAcdntTrgtPnrInfo.length > 0){
				mozTfcAcdntTrgtInfo.tfcAcdntTrgtPnrInfoStr = JSON.stringify(tfcAcdntTrgtPnrInfo);
			}
			accidentPartyInfoList.push(mozTfcAcdntTrgtInfo);
		}		
		
		
		formData.append("mozTfcAcdntTrgtInfoJsonStr", JSON.stringify(accidentPartyInfoList));

		const loading = MozAtesPoliceApp.loading("Saving...").start();
		
		fetch('/tfcacdntmng/trafficAcdntRegPageRegister',{
			method : "post",
			body : formData
		})
		.then(response => response.json())
		.then((result) => {
			 if (result.code === 200) {
					let tfcAcdntId = result.data;
	                alert("Register complete.");
					location.href="/main";
				
	                //window.location.href = "/tfcacdntmng/detail?tfcAcdntId="+tfcAcdntId;
	            } else {
	                alert("Register Failed");
	            }
		}).finally(() => {
			loading.end();
		});
	}

	let map = new MozAtesPoliceMap({
		elementId : 'map',
		useGeoLocation : true,
		loadedGeoCodeCallback : function(core, data){
			const streetList = core.util.refineStreetName(data.features);
			const datalist = document.getElementById("loadedRoadAddr");
			datalist.innerHTML = "";
			let options = "";
			for(const streetName of streetList) {
				options += `<option>${streetName}</option>`;
			}
			datalist.innerHTML = options;
		}
	});
	
	function modalToggle() {
		let modal = document.getElementById('modal-accident-info');
		let modalOn = document.getElementById('modalOn');
		let modalOff = document.getElementById('modalOff');
		
		let modalRegistList = document.getElementById('modalRegistListDiv');
		let infoCheckBtn = document.getElementById('infoCheckBtn');
		
		modalOn.addEventListener('click', function(){
			if(!document.trafficAcdntRegForm.checkValidity()) {
				document.trafficAcdntRegForm.reportValidity();
				return;
			}
			
			let accidentConfirmInfo = document.createElement('div');
			
			accidentConfirmInfo.setAttribute('id','accidentConfirmInfo');
			
			let acdntDtTitle = /*[[#{tfcacdntmng.trafficAcdntAllInfo.accidentDate}]]*/
			let acdntTyCdTitle = /*[[#{tfcacdntmng.trafficAcdntAllInfo.accidentType}]]*/
			let roadAddrTitle = /*[[#{tfcacdntmng.trafficAcdntAllInfo.accidentLocation}]]*/
			let acdntChildYnTitle = /*[[#{tfcacdntmng.trafficAcdntAllInfo.childAccident}]]*/
			let acdntTyDtlsTitle = /*[[#{tfcacdntmng.trafficAcdntAllInfo.acdntTyDtls}]]*/
			
			let acdntDt       = document.getElementById('acdntDt').value;
			let acdntTyCd     = document.getElementById('acdntTyCd');
			let acdntTyCdText = acdntTyCd.options[acdntTyCd.selectedIndex].text;
			let roadAddr      = document.getElementById('roadAddr').value;
			let acdntChildYn  = document.getElementById('acdntChildYn');
			let acdntChildYnText = acdntChildYn.options[acdntChildYn.selectedIndex].text;
			let acdntTyDtls   = document.getElementById('acdntTyDtls').value;
			
			accidentConfirmInfo.innerHTML = 
				`
				  <dl class="modalRegistInfo">
			      	 <dt>${acdntDtTitle}</dt>
			      	 <dd>${acdntDt}</dd>
				  </dl>
				  <dl class="modalRegistInfo">
			      	 <dt>${acdntTyCdTitle}</dt>
			      	 <dd>${acdntTyCdText}</dd>
				  </dl>
				  <dl class="modalRegistInfo">
			      	 <dt>${roadAddrTitle}</dt>
			      	 <dd>${roadAddr}</dd>
				  </dl>
				  <dl class="modalRegistInfo">
			      	 <dt>${acdntChildYnTitle}</dt>
			      	 <dd>${acdntChildYnText}</dd>
				  </dl>
				  <dl class="modalRegistInfo">
			      	 <dt>${acdntTyDtlsTitle}</dt>
			      	 <dd>${acdntTyDtls}</dd>
				  </dl>
				`
			document.querySelector('#modalRegistListDiv').append(accidentConfirmInfo);
			
			let accidentPartyList = document.querySelectorAll('.accident-party-wrap');
			
			if(accidentPartyList == null || accidentPartyList.length < 1){
				alert('Please Add Accident Target');
				return;
			} 
			
			let accidentInfoListDiv = document.createElement('div');
			
			let accidentPartyTitle = /*[[#{tfcacdntmng.trafficAcdntRegPage.contentAccidentParty}]]*/
			
			accidentInfoListDiv.innerHTML = `<span id="accidentPartyTitle">${accidentPartyTitle}<span>`
				
			for(var i = 0; i < accidentPartyList.length; i++){
				let accidentInfo = document.createElement('div');
				accidentInfo.className='accidentTargetList';
				let accidnetNumber = (i+1);
				
				let accidentHtml = '';
				
				let accidentTarget = document.getElementById('accidentTarget_'+i);
				let accidentTargetTitle = /*[[#{tfcacdntmng.trafficAcdntRegPage.contentAccidentTarget}]]*/;
				let accidentTargetText = accidentTarget.options[accidentTarget.selectedIndex].text;

				accidentHtml += `
 				  <dl class="accidentTarget">
			      	 <dt>${accidentTargetTitle+" "+accidnetNumber}</dt>
				  	 <dd></dd>
				  </dl>
				  <dl class="modalRegistInfo">
			      	 <dt>${accidentTargetTitle}</dt>
			      	 <dd>${accidentTargetText}</dd>
				  </dl>`;
				  
				if(accidentTarget.value == 'ATT000'){
					let driverLicenseTitle = /*[[#{tfcacdntmng.trafficAcdntRegPage.contentDriverLicenseId}]]*/;
					let driverLicenseId = document.getElementById('driverLicenseId_'+i).value;
					let vhRegNoTitle = /*[[#{tfcacdntmng.trafficAcdntRegPage.contentVehicleNo}]]*/;
					let vhRegNo = document.getElementById('vhRegNo_'+i).value;
					let vhTyTitle = /*[[#{tfcacdntmng.trafficAcdntRegPage.contentVehicleType}]]*/;
					let vhTy = document.getElementById('vhTy_'+i).value;
					let dvYnTitle = /*[[#{tfcacdntmng.trafficAcdntRegPage.contentDvStatus}]]*/;
					let dvYn = document.getElementById('dvYn_'+i);
					let dvYnText = dvYn.options[dvYn.selectedIndex].text;
				
					accidentHtml += 
					`<dl class="modalRegistInfo">
			      	 	<dt>${driverLicenseTitle}</dt>
			      	 	<dd>${driverLicenseId}</dd>
				  	</dl>
				  	<dl class="modalRegistInfo">
			      	 	<dt>${vhRegNoTitle}</dt>
			      	 	<dd>${vhRegNo}</dd>
				  	</dl>
				  	<dl class="modalRegistInfo">
			      	 	<dt>${vhTyTitle}</dt>
			      	 	<dd>${vhTy}</dd>
				  	</dl>
				  	<dl class="modalRegistInfo">
			      	 	<dt>${dvYnTitle}</dt>
			      	 	<dd>${dvYnText}</dd>
				  	</dl>`;
				}
				
				let acdntDmgCdTitle = /*[[#{tfcacdntmng.trafficAcdntRegPage.contentAccidentDamage}]]*/;
				let acdntDmgCd = document.getElementById('acdntDmgCd_'+i);
				let acdntDmgCdText = acdntDmgCd.options[acdntDmgCd.selectedIndex].text;
				let acdntTrgtPnoTitle = /*[[#{tfcacdntmng.trafficAcdntRegPage.contentPhone}]]*/;
				let acdntTrgtPno = document.getElementById('acdntTrgtPno_'+i).value;
				let acdntTrgtBrthTitle = /*[[#{tfcacdntmng.trafficAcdntRegPage.contentBirthday}]]*/;
				let acdntTrgtBrth = document.getElementById('acdntTrgtBrth_'+i).value;
				let acdntTrgtNmTitle = /*[[#{tfcacdntmng.trafficAcdntRegPage.contentAccidentTargetName}]]*/;
				let acdntTrgtNm = document.getElementById('acdntTrgtNm_'+i).value;
				let deadYnTitle = /*[[#{tfcacdntmng.addLayer.content.pnrDeadYn}]]*/;
				let deadYn = document.getElementById('deadYn_'+i);
				let deadYnText = deadYn.options[deadYn.selectedIndex].text;
				
				accidentHtml += 
					`<dl class="modalRegistInfo">
			      	 	<dt>${acdntDmgCdTitle}</dt>
			      	 	<dd>${acdntDmgCdText}</dd>
				  	</dl>
				  	<dl class="modalRegistInfo">
			      	 	<dt>${acdntTrgtPnoTitle}</dt>
			      	 	<dd>${acdntTrgtPno}</dd>
				  	</dl>
				  	<dl class="modalRegistInfo">
			      	 	<dt>${acdntTrgtBrthTitle}</dt>
			      	 	<dd>${acdntTrgtBrth}</dd>
				  	</dl>
				  	<dl class="modalRegistInfo">
			      	 	<dt>${acdntTrgtNmTitle}</dt>
			      	 	<dd>${acdntTrgtNm}</dd>
				  	</dl>
				  	<dl class="modalRegistInfo">
			      	 	<dt>${deadYnTitle}</dt>
			      	 	<dd>${deadYnText}</dd>
				  	</dl>`;
				  	
				accidentInfo.innerHTML = accidentHtml;
				
				accidentInfoListDiv.appendChild(accidentInfo);
				
				//지훈팍 여기 테이블에 퍼블리싱 필요
				if(accidentTarget.value == 'ATT000'){
					let passengerListDiv = document.querySelectorAll('.passenger'+i);
					if(passengerListDiv != null &&  passengerListDiv.length > 0){
						let passengerTable = document.createElement('div');
						let passengerTitles = /*[[#{tfcacdntmng.trafficAcdntRegPage.contentPassenger}]]*/+accidnetNumber;
						let tableTitleNo = /*[[#{tfcacdntmng.trafficAcdntRegPage.table.number}]]*/;
						let tableTitlePhone = /*[[#{tfcacdntmng.trafficAcdntRegPage.table.number}]]*/;
						let tableTitleName = /*[[#{tfcacdntmng.trafficAcdntRegPage.passengerPhone}]]*/;
						let tableTitleBirth = /*[[#{tfcacdntmng.trafficAcdntRegPage.passengerBirth}]]*/;
						

						let passengerTableHtml = '';
						passengerTableHtml += `
						<h2 class="passengerTitle">${passengerTitles}</h2>
						<table class="passengerTable">
							<colgroup>
								<col width="10%">
								<col width="30%">
								<col width="30%">
								<col width="30%">
							</colgroup>
							<thead>
								<tr>
									<th>${tableTitleNo}</th>
									<th>${tableTitlePhone}</th>
									<th>${tableTitleName}</th>
									<th>${tableTitleBirth}</th>
								</tr>
							</thead>
							<tbody>
						`;
						for(var j = 0; j < passengerListDiv.length; j++){
							let extendsIdName = i+"_"+j;
							let passengerNo = (j+1);
							let passengerName = document.getElementById('pnrNm'+extendsIdName).value;
							let passengerBirth = document.getElementById('pnrBrth'+extendsIdName).value;
							let passengerPhone = document.getElementById('pnrPno'+extendsIdName).value;
							
							passengerTableHtml += `
								<tr>
									<td>${passengerNo}</td>
									<td>${passengerPhone}</td>
									<td>${passengerName}</td>
									<td>${passengerBirth}</td>
								</tr>
							`;
						}
						passengerTableHtml += `
							</tbody>
						</table>
						`;
						
						passengerTable.innerHTML = passengerTableHtml;
						
						accidentInfoListDiv.appendChild(passengerTable);
					}
				}
			}
			accidentInfoListDiv.className = 'accidentPartyConfirm';
			
			document.querySelector('#modalRegistListDiv').append(accidentInfoListDiv);
			
			modal.style.display="block";
		})
		
		modalOff.addEventListener('click', function(){
	        modalRegistList.scrollTo({
				top : 0 ,
				left : 0 ,
				behavor: 'smooth'
			})
			modalRegistList.empty();
	
			infoCheckBtn.classList.remove('on');
			
			modal.style.display="none";
		})
		
		modalRegistList.addEventListener('scroll', function () {
	        if (modalRegistList.clientHeight !== 0 && modalRegistList.clientHeight + modalRegistList.scrollTop >= modalRegistList.scrollHeight - 5) {
	          	infoCheckBtn.classList.add('on');
	        }
	     });
	}
	
    function accidentDev(){
        $("form#trafficAcdntRegForm input:not([type='file'])").each(function(){
            if($(this).attr("name") === "acdntDt"){
                $(this).val(getCurrentDateTime(new Date(),'datetime-local'));
            }else if($(this).attr("name") === "roadAddr"){
                $(this).val("Avenida Eduardo Mondlane, Maputo");
            }else if($(this).attr("name") === "acdntTyDtls"){
                $(this).val("Very serious accident");
            }else{
                $(this).val(randomString(8));
        	}
        });
		// 해당 select 요소를 가져옵니다.
		let acdntTyCd = document.getElementById("acdntTyCd");
		// 선택된 값을 변경합니다.
		acdntTyCd.value = "ACT005";
		// 해당 select 요소를 가져옵니다.
		let acdntChildYn = document.getElementById("acdntChildYn");
		// 선택된 값을 변경합니다.
		acdntChildYn.value = "N";
    }
</script>
