<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layouts/layout">

	<div layout:fragment="content">
	    <div class="content">
	        <div class="container">
	            <div class="row">
	                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	                    <div class="row">
	                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		                        <h1 th:text="#{tfcacdntmng.trafficAcdntRegPage.title}">Traffic Accident Register</h1>
		                    	<div class="mb10">
		                    		<span class="btn btn-default" id="addTrafficAcdnt" th:text="#{tfcacdntmng.trafficAcdntRegPage.addTrafficAccidentButton}">Add Traffic Accident</span>
		                    	</div>
		                    	<div class="traffic-acdnt-span-group">
		                    		<span class="btn btn-default traffic-acdnt-span mb5 mr5" onclick="fnTrafficAcndtInfoBtn('1')" th:text="#{tfcacdntmng.trafficAcdntRegPage.informationButton}">Information</span>
		                    	</div>
		                        <form id="trafficAcdntRegForm" name="trafficAcdntRegForm" method="post">
                            		<input type="hidden" id="trafficAcdntSize" name="trafficAcdntSize" value="">
                            		<input type="hidden" id="lng" name="lng" value="">
                            		<input type="hidden" id="lat" name="lat" value="">
		                            <div class="row traffic-acdnt-row">
		                            	<div class="traffic-acdnt-div" id="trafficAcdntDiv1">
				                        	<input type="hidden" id="pymntOprtr1" name="pymntOprtr1">
			                                <div class="col-md-6">
			                                    <label class="control-label" for="dvrLcenId1" th:text="#{tfcacdntmng.trafficAcdntRegPage.contentDriverLicenseId}">Driver license ID</label>
			                                    <input type="text" id="dvrLcenId1" name="dvrLcenId1" th:placeholder="#{tfcacdntmng.trafficAcdntRegPage.contentDriverLicenseId}" class="form-control">
			                                </div>
			                                <div class="col-md-6">
			                                    <label class="control-label" for="tfcLawId1" th:text="#{tfcacdntmng.trafficAcdntRegPage.contentLaws}">Laws</label>
			                                    <select class="form-control" id="tfcLawId1" name="tfcLawId1">
			                                    	<option th:text="#{tfcacdntmng.trafficAcdntRegPage.contentSelectBox1}">select</option>
			                                    	<option th:each="trafficLawList : ${trafficLawList}" th:value="${trafficLawList.tfcLawId}" th:text="${trafficLawList.lawNm}"></option>
			                                    </select>
			                                </div>
		                                	<div class="col-md-6">
			                                    <label class="control-label" for="pymntPrice1" th:text="#{tfcacdntmng.trafficAcdntRegPage.contentPaymentPrice}">Payment Price</label>
			                                    <input type="text" id="pymntPrice1" name="pymntPrice1" th:placeholder="#{tfcacdntmng.trafficAcdntRegPage.contentPaymentPrice}" class="form-control">
			                                </div>
			                                <div class="col-md-6">
			                                    <label class="control-label" for="placePymntId1" th:text="#{tfcacdntmng.trafficAcdntRegPage.contentPlacePayment}">Place Payment</label>
			                                    <select class="form-control" id="placePymntId1" name="placePymntId1" onchange="fnGetPymntOprtr('1');">
			                                    	<option th:text="#{tfcacdntmng.trafficAcdntRegPage.contentSelectBox2}">select</option>
			                                    	<option th:each="placePaymentList : ${placePaymentList}" th:value="${placePaymentList.placePymntId}" th:data-oprtr="${placePaymentList.placePymntRprsvNm}" th:text="${placePaymentList.placePymntNm}"></option>
			                                    </select>
			                                </div>
											<div class="col-md-6">
			                                    <label class="control-label" for="vioNm1" th:text="#{tfcacdntmng.trafficAcdntRegPage.contentName}">Name</label>
			                                    <input type="text" id="vioNm1" name="vioNm1" th:placeholder="#{tfcacdntmng.trafficAcdntRegPage.contentName}" class="form-control">
			                                </div>
			                                <div class="col-md-6">
			                                    <label class="control-label" for="vioBrth1" th:text="#{tfcacdntmng.trafficAcdntRegPage.contentBirthDay}">Birthday</label>
			                                    <input type="text" id="vioBrth1" name="vioBrth1" th:placeholder="#{tfcacdntmng.trafficAcdntRegPage.contentBirthDay}" class="form-control">
			                                </div>
			                                <div class="col-md-6">
			                                    <label class="control-label" for="vioEmail1" th:text="#{tfcacdntmng.trafficAcdntRegPage.contentEmail}">Email</label>
			                                    <input type="text" id="vioEmail1" name="vioEmail1" th:placeholder="#{tfcacdntmng.trafficAcdntRegPage.contentEmail}" class="form-control">
			                                </div>
			                                <div class="col-md-6">
			                                    <label class="control-label" for="vioAddr1" th:text="#{tfcacdntmng.trafficAcdntRegPage.contentAddress}">Address</label>
			                                    <input type="text" id="vioAddr1" name="vioAddr1" th:placeholder="#{tfcacdntmng.trafficAcdntRegPage.contentAddress}" class="form-control">
			                                </div>
			                                <div class="col-md-6">
			                                    <label class="control-label" for="vioPno1" th:text="#{tfcacdntmng.trafficAcdntRegPage.contentPhone}">Phone</label>
			                                    <input type="text" id="vioPno1" name="vioPno1" th:placeholder="#{tfcacdntmng.trafficAcdntRegPage.contentPhone}" class="form-control">
			                                </div>
			                                <div class="col-md-6">
			                                    <label class="control-label" for="dvrLcenTy1" th:text="#{tfcacdntmng.trafficAcdntRegPage.contentLicenseType}">License Type</label>
			                                    <input type="text" id="dvrLcenTy1" name="dvrLcenTy1" th:placeholder="#{tfcacdntmng.trafficAcdntRegPage.contentLicenseType}" class="form-control">
			                                </div>
			                                <div class="col-md-6">
			                                    <label class="control-label" for="roadAddr1" th:text="#{tfcacdntmng.trafficAcdntRegPage.contentRoadAddress}">Road Address</label>
			                                    <input type="text" id="roadAddr1" name="roadAddr1" th:placeholder="#{tfcacdntmng.trafficAcdntRegPage.contentRoadAddress}" class="form-control">
			                                </div>
			                                <div class="col-md-6">
			                                    <label class="control-label" for="roadLn1" th:text="#{tfcacdntmng.trafficAcdntRegPage.contentRoadLane}">Road Lane</label>
			                                    <input type="text" id="roadLn1" name="roadLn1" th:placeholder="#{tfcacdntmng.trafficAcdntRegPage.contentRoadLane}" class="form-control">
			                                </div>
			                                <div class="col-md-6">
			                                    <label class="control-label" for="vhRegNo1" th:text="#{tfcacdntmng.trafficAcdntRegPage.contentVehicleRegistrationNumber}">Vehicle Registration Number</label>
			                                    <input type="text" id="vhRegNo1" name="vhRegNo1" th:placeholder="#{tfcacdntmng.trafficAcdntRegPage.contentVehicleRegistrationNumber}" class="form-control">
			                                </div>
			                                <div class="col-md-6">
			                                    <label class="control-label" for="vhTy1" th:text="#{tfcacdntmng.trafficAcdntRegPage.contentVehicleType}">Vehicle Type</label>
			                                    <input type="text" id="vhTy1" name="vhTy1" th:placeholder="#{tfcacdntmng.trafficAcdntRegPage.contentVehicleType}" class="form-control">
			                                </div>
			                                <div class="col-md-6">
			                                    <label class="control-label" th:text="#{tfcacdntmng.trafficAcdntRegPage.contentSpeedInfo}">Speed Info</label>
			                                    <div>
				                                    <input type="text" id="spdLmt1" name="spdLmt1" th:placeholder="#{tfcenfmng.trafficEnfceRegPage.contentSpeedLimit}" class="form-control">
				                                    <input type="text" id="vioSpd1" name="vioSpd1" th:placeholder="#{tfcenfmng.trafficEnfceRegPage.contentViolationSpeed}" class="form-control" onkeyup="fnCountSpd('1');">
				                                    <input type="text" id="overSpd1" name="overSpd1" th:placeholder="#{tfcenfmng.trafficEnfceRegPage.contentOverSpeed}" class="form-control">
			                                    </div>
			                                </div>
			                                <div class="col-md-6 mb40">
			                                	<span class="btn btn-default" onclick="fnAddPassenger('1')" th:text="#{tfcacdntmng.trafficAcdntRegPage.addPassengersButton}">Add Passengers</span>
			                                </div>
			                                <div class="passengers-div" id="passengersDiv1">
			                                	<input type="hidden" id="pnrSize1" name="pnrSize1" value="0">
			                                </div>
		                            	</div>
	                            	</div>
                                    <div class="form-group">
                                    	<input type="button" class="btn btn-default" id="fnTrafficAcdntRegBtn" th:value="#{tfcacdntmng.trafficAcdntRegPage.registerButton}">
                                    </div>
	                        	</form>
                               	<th:block th:replace="views/tfcacdntmng/trafficAcdntPasnrAddLayer :: trafficAcdntPasnrAddLayer"></th:block>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
</html>
<script type="text/javascript" th:inline="javascript">

	var message = /*[[${resultMsg}]]*/;
    if(message != null && message != ' '){
		swal({
			  title: /*[[${resultMsgType}]]*/,
			  text: message,
			  icon: /*[[${resultMsgType}]]*/,
			  button: "Confirm",
			});
	}

 	// Geolocation API에 액세스할 수 있는지를 확인
	function handlePermission() {
		navigator.permissions.query({name:'geolocation'}).then(function(result) {
			if (result.state == 'granted') {
				getGelocation();
			} else if (result.state == 'prompt') {
				report(result.state);
				getGelocation();
			} else if (result.state == 'denied') {
				report(result.state);
			}
			result.addEventListener('change', function() {
				report(result.state);
			});
		});
	}
	function report(state) {
		console.log('Permission ' + state);
	}
	handlePermission();
	// Geolocation API에 액세스할 수 있는지를 확인
	function getGelocation(){
		if (navigator.geolocation) {
			//위치 정보를 얻기
			navigator.geolocation.getCurrentPosition (function(pos) {
				if(typeof pos == "undefined") {
					alert("Not support geolocation.");
					return
				}
				$("#lat").val(pos.coords.latitude);     // 위도
				$("#lng").val(pos.coords.longitude); // 경도
			});
		} else {
			alert("Not support geolocation.")
		}
	}
	getGelocation()

    function fnCountSpd(idx){
    	var spdLmt = $("#spdLmt"+idx).val();
		spdLmt = Number(spdLmt);

		var vioSpd = $("#vioSpd"+idx).val();
			vioSpd = Number(vioSpd);

		var overSpd = spdLmt - vioSpd;
		if(spdLmt < vioSpd){
			overSpd = (overSpd * -1);
		}else{
			overSpd = 0;
		}

		$("#overSpd"+idx).val(overSpd);
	}

    $("#fnTrafficAcdntRegBtn").on("click",function(){

    	var trafficAcdntDivSize = $(".traffic-acdnt-div").size();
    	$("#trafficAcdntSize").val(trafficAcdntDivSize);

		var form = document.getElementById("trafficAcdntRegForm");
    	form.action="/tfcacdntmng/trafficAcdntReg";
    	form.method="POST";
    	form.submit();
    })

    function fnGetPymntOprtr(idx){
    	var oprtr = $("#placePymntId"+idx+" option:selected").data("oprtr");
    	$("#pymntOprtr"+idx).val(oprtr);
	}

	function fnAddPassenger(idx){
		$("#modalIdx").val(idx);
    	$('#trafficAcdntPasnrAddLayer').modal('show');
	}
 	// 모달 안의 취소 버튼에 이벤트를 건다.
    $('#closeModalBtn').on('click', function(){
    	$('#trafficAcdntPasnrAddLayer').modal('hide');
    });

 	$("input[name='dvYn']").on("click", function(){
 		if($(this).val() == "N"){
 			$(".driver-lcen-ty").css("display","none");
 		}else{
 			$(".driver-lcen-ty").css("display","block");
 		}
 	})

 	$("#addTrafficAcdntPnrBtn").on("click",function(){

		var idx = 0;
 		var modalIdx = $("#modalIdx").val();
 		var passengersSize = $("#passengersDiv"+modalIdx+" > div[id^='passengersAddDiv']").size()
 		for(var i = 1; i < passengersSize+1; i++){
 			idx = i;
 		}

 		$("div[id^='passengersAddDiv']").size();
 		var pnrNm = $("#pnrNm").val();
 		var pnrAddr = $("#pnrAddr").val();
 		var pnrPno = $("#pnrPno").val();
 		var pnrEmail = $("#pnrEmail").val();
 		var pnrBrth = $("#pnrBrth").val();
 		var dvYn = $("input:radio[name='dvYn']:checked").val();
 		var dvrLcenTy = $("#dvrLcenTy").val();

 		var html = "";
 		var pnrSizeChk = $("#pnrSize"+modalIdx).size() ? true : false;

		$("#pnrSize"+modalIdx).val((idx+1));

 		html += '<div class="passengers-add-div" id="passengersAddDiv'+modalIdx+'_'+(idx+1)+'">'+
					'<input type="hidden" id="pnrNm'+modalIdx+'_'+(idx+1)+'" name="pnrNm'+modalIdx+'_'+(idx+1)+'" value="'+pnrNm+'" />'+
					'<input type="hidden" id="pnrBrth'+modalIdx+'_'+(idx+1)+'" name="pnrBrth'+modalIdx+'_'+(idx+1)+'" value="'+pnrBrth+'" />'+
					'<input type="hidden" id="pnrAddr'+modalIdx+'_'+(idx+1)+'" name="pnrAddr'+modalIdx+'_'+(idx+1)+'" value="'+pnrAddr+'" />'+
					'<input type="hidden" id="pnrPno'+modalIdx+'_'+(idx+1)+'" name="pnrPno'+modalIdx+'_'+(idx+1)+'" value="'+pnrPno+'" />'+
					'<input type="hidden" id="pnrEmail'+modalIdx+'_'+(idx+1)+'" name="pnrEmail'+modalIdx+'_'+(idx+1)+'" value="'+pnrEmail+'" />'+
					'<input type="hidden" id="dvYn'+modalIdx+'_'+(idx+1)+'" name="dvYn'+modalIdx+'_'+(idx+1)+'" value="'+dvYn+'" />'+
					'<input type="hidden" id="dvrLcenTy'+modalIdx+'_'+(idx+1)+'" name="dvrLcenTy'+modalIdx+'_'+(idx+1)+'" value="'+dvrLcenTy+'" />'+
	 				'<h4>Passengers('+(idx+1)+')</h4>'+
	 				'<div>'+
						'<span class="passengers-add-span">'+(idx+1)+'</span>'+
						'<span class="passengers-add-span">'+pnrNm+'</span>'+
						'<span class="passengers-add-span">'+pnrPno+'</span>'+
					'</div>'+
				'</div>';

 		$("#passengersDiv"+modalIdx).append(html);

		pasnrAddLayerInit();
		$('#trafficAcdntPasnrAddLayer').modal('hide');
 	})

 	function pasnrAddLayerInit(){
 		$("#pnrDvrLcenId").val("");
 		$("#pnrNm").val("");
 		$("#pnrAddr").val("");
 		$("#pnrBrth").val("");
 		$("#pnrPno").val("");
 		$("#pnrEmail").val("");
 		$("input[name='dvYn']:radio[value='Y']").prop("checked",true);
 		$(".driver-lcen-ty").css("display","block");
 		$("#dvrLcenTy").val("");
 	}

 	$("#addTrafficAcdnt").on("click",function(){

 		var trafficAcdntDivSize = $(".traffic-acdnt-div").size();
 		for(var i = 1; i < trafficAcdntDivSize+1; i++){
 			if(idx == i){
 				$("#trafficAcdntDiv"+i).css("display","block");
 			}else{
 				$("#trafficAcdntDiv"+i).css("display","none");
 			}
 		}

 		var idx = $(".traffic-acdnt-span").size()
 		var infoButtonPrp = [[#{tfcacdntmng.trafficAcdntRegPage.informationButton}]];
 		$(".traffic-acdnt-span-group").append(
 				'<div class="traffic-acdnt-span-div'+(idx+1)+'">'+
	 				'<span class="btn btn-default traffic-acdnt-span mb5" onclick="fnTrafficAcndtInfoBtn('+(idx+1)+')">'+infoButtonPrp+(idx+1)+'</span>'+
	 				'<span class="btn btn-default mb5 mr5" onclick="fnRemoveTrafficAcndtBtn('+(idx+1)+')">×</span>'+
 				'</div>'
 			);

		var html = "";
		var dvrLcenIdPrp = [[#{tfcacdntmng.trafficAcdntRegPage.contentDriverLicenseId}]];
		var lawsPrp = [[#{tfcacdntmng.trafficAcdntRegPage.contentLaws}]];
		var selectPrp = [[#{tfcacdntmng.trafficAcdntRegPage.contentSelectBox1}]];
		html += '<div class="traffic-acdnt-div" id="trafficAcdntDiv'+(idx+1)+'">'+
					'<input type="hidden" id="pymntOprtr'+(idx+1)+'" name="pymntOprtr">'+
						'<div class="col-md-6">'+
			                '<label class="control-label" for="dvrLcenId'+(idx+1)+'">'+dvrLcenIdPrp+'</label>'+
			                '<input type="text" id="dvrLcenId'+(idx+1)+'" name="dvrLcenId'+(idx+1)+'" placeholder="'+dvrLcenIdPrp+'" class="form-control">'+
			            '</div>'+
			            '<div class="col-md-6">'+
			                '<label class="control-label" for="tfcLawId'+(idx+1)+'">'+lawsPrp+'</label>'+
			                '<select class="form-control" id="tfcLawId'+(idx+1)+'" name="tfcLawId'+(idx+1)+'">'+
			                	'<option>'+selectPrp+'</option>';
	                		var trafficLawList = [[${trafficLawList}]];
	                		trafficLawList.forEach(function(item){
		html+=          		'<option value="'+item.tfcLawId+'">'+item.lawNm+'</option>';
	              			})
	              			var paymentPricePrp = [[#{tfcacdntmng.trafficAcdntRegPage.contentPaymentPrice}]];
	                		var placePaymentPrp = [[#{tfcacdntmng.trafficAcdntRegPage.contentPlacePayment}]];
	                		var selectPrp2 = [[#{tfcacdntmng.trafficAcdntRegPage.contentSelectBox2}]];
	    html+=				'</select>'+
				        '</div>'+
			        	'<div class="col-md-6">'+
							'<label class="control-label" for="pymntPrice'+(idx+1)+'">'+paymentPricePrp+'</label>'+
				            '<input type="text" id="pymntPrice'+(idx+1)+'" name="pymntPrice'+(idx+1)+'" placeholder="'+paymentPricePrp+'" class="form-control">'+
			        	'</div>'+
			        	'<div class="col-md-6">'+
			            	'<label class="control-label" for="placePymntId'+(idx+1)+'">'+placePaymentPrp+'</label>'+
			            	'<select class="form-control" id="placePymntId'+(idx+1)+'" name="placePymntId'+(idx+1)+'" onchange="fnGetPymntOprtr('+(idx+1)+');">'+
			             		'<option>'+selectPrp2+'</option>';
			             		var placePaymentList = [[${placePaymentList}]];
			             		placePaymentList.forEach(function(item){
		html+=          		'<option value="'+item.placePymntId+'" data-oprtr="'+item.placePymntRprsvNm+'" >'+item.placePymntNm+'</option>';
		              			})
		              			var namePrp = [[#{tfcacdntmng.trafficAcdntRegPage.contentName}]];
			             		var birthdayPrp = [[#{tfcacdntmng.trafficAcdntRegPage.contentBirthDay}]];
			             		var emailPrp = [[#{tfcacdntmng.trafficAcdntRegPage.contentEmail}]];
			             		var addressPrp = [[#{tfcacdntmng.trafficAcdntRegPage.contentAddress}]];
			             		var phonePrp = [[#{tfcacdntmng.trafficAcdntRegPage.contentPhone}]];
			             		var licenseTypePrp = [[#{tfcacdntmng.trafficAcdntRegPage.contentLicenseType}]];
			             		var roadAddressPrp = [[#{tfcacdntmng.trafficAcdntRegPage.contentRoadAddress}]];
			             		var roadLanePrp = [[#{tfcacdntmng.trafficAcdntRegPage.contentRoadLane}]];
			             		var vclRegNumPrp = [[#{tfcacdntmng.trafficAcdntRegPage.contentVehicleRegistrationNumber}]];
			             		var vehicleTypePrp = [[#{tfcacdntmng.trafficAcdntRegPage.contentVehicleType}]];
			             		var speedInfoPrp = [[#{tfcacdntmng.trafficAcdntRegPage.contentSpeedInfo}]];
			             		var passButtonPrp = [[#{tfcacdntmng.trafficAcdntRegPage.addPassengersButton}]];
			             		var speedLimitPrp = [[#{tfcacdntmng.trafficAcdntRegPage.contentSpeedLimit}]];
			             		var vioSpeedPrp = [[#{tfcacdntmng.trafficAcdntRegPage.contentViolationSpeed}]];
			             		var overSpeedPrp = [[#{tfcacdntmng.trafficAcdntRegPage.contentOverSpeed}]];
		html+=          	'</select>'+
				        '</div>'+
						'<div class="col-md-6">'+
				            '<label class="control-label" for="vioNm'+(idx+1)+'">'+namePrp+'</label>'+
				            '<input type="text" id="vioNm'+(idx+1)+'" name="vioNm'+(idx+1)+'" placeholder="'+namePrp+'" class="form-control">'+
				        '</div>'+
				        '<div class="col-md-6">'+
				            '<label class="control-label" for="vioBrth'+(idx+1)+'">'+birthdayPrp+'</label>'+
				            '<input type="text" id="vioBrth'+(idx+1)+'" name="vioBrth'+(idx+1)+'" placeholder="'+birthdayPrp+'" class="form-control">'+
				        '</div>'+
				        '<div class="col-md-6">'+
				            '<label class="control-label" for="vioEmail'+(idx+1)+'">'+emailPrp+'</label>'+
				            '<input type="text" id="vioEmail'+(idx+1)+'" name="vioEmail'+(idx+1)+'" placeholder="'+emailPrp+'" class="form-control">'+
				        '</div>'+
				        '<div class="col-md-6">'+
				            '<label class="control-label" for="vioAddr'+(idx+1)+'">'+addressPrp+'</label>'+
				            '<input type="text" id="vioAddr'+(idx+1)+'" name="vioAddr'+(idx+1)+'" placeholder="'+addressPrp+'" class="form-control">'+
				        '</div>'+
				        '<div class="col-md-6">'+
				            '<label class="control-label" for="vioPno'+(idx+1)+'">'+phonePrp+'</label>'+
				            '<input type="text" id="vioPno'+(idx+1)+'" name="vioPno'+(idx+1)+'" placeholder="'+phonePrp+'" class="form-control">'+
				        '</div>'+
				        '<div class="col-md-6">'+
				            '<label class="control-label" for="dvrLcenTy'+(idx+1)+'">'+licenseTypePrp+' </label>'+
				            '<input type="text" id="dvrLcenTy'+(idx+1)+'" name="dvrLcenTy'+(idx+1)+'" placeholder="'+licenseTypePrp+'" class="form-control">'+
				        '</div>'+
				        '<div class="col-md-6">'+
				            '<label class="control-label" for="roadAddr'+(idx+1)+'">'+roadAddressPrp+'</label>'+
				            '<input type="text" id="roadAddr'+(idx+1)+'" name="roadAddr'+(idx+1)+'" placeholder="'+roadAddressPrp+'" class="form-control">'+
				        '</div>'+
				        '<div class="col-md-6">'+
				            '<label class="control-label" for="roadLn'+(idx+1)+'">'+roadLanePrp+'</label>'+
				            '<input type="text" id="roadLn'+(idx+1)+'" name="roadLn'+(idx+1)+'" placeholder="'+roadLanePrp+'" class="form-control">'+
				        '</div>'+
				        '<div class="col-md-6">'+
				            '<label class="control-label" for="vhRegNo'+(idx+1)+'">'+vclRegNumPrp+'</label>'+
				            '<input type="text" id="vhRegNo'+(idx+1)+'" name="vhRegNo'+(idx+1)+'" placeholder="'+vclRegNumPrp+'" class="form-control">'+
				        '</div>'+
				        '<div class="col-md-6">'+
				            '<label class="control-label" for="vhTy'+(idx+1)+'">'+vehicleTypePrp+'</label>'+
				            '<input type="text" id="vhTy'+(idx+1)+'" name="vhTy'+(idx+1)+'" placeholder="'+vehicleTypePrp+'" class="form-control">'+
				        '</div>'+
				        '<div class="col-md-6">'+
				            '<label class="control-label">'+speedInfoPrp+'</label>'+

	                        '<div>'+
                            	'<input type="text" id="spdLmt'+(idx+1)+'" name="spdLmt'+(idx+1)+'" placeholder="'+speedLimitPrp+'" class="form-control">'+
                            	'<input type="text" id="vioSpd'+(idx+1)+'" name="vioSpd'+(idx+1)+'" placeholder="'+vioSpeedPrp+'" class="form-control" onkeyup="fnCountSpd('+(idx+1)+');">'+
                            	'<input type="text" id="overSpd'+(idx+1)+'" name="overSpd'+(idx+1)+'" placeholder="'+overSpeedPrp+'" " class="form-control">'+
                        	'</div>'+
				        '</div>'+
				        '<div class="col-md-6 mb40">'+
				        	'<span class="btn btn-default" onclick="fnAddPassenger('+(idx+1)+')">'+passButtonPrp+'</span>'+
				        '</div>'+
				        '<div class="passengers-div" id="passengersDiv'+(idx+1)+'">'+
				        '<input type="hidden" id="pnrSize'+(idx+1)+'" name="pnrSize'+(idx+1)+'" value="0" />'+
				        '</div>'+
				   	'</div>';
 		$(".traffic-acdnt-row").append(html);

 	})

 	function fnTrafficAcndtInfoBtn(idx){
 		var trafficAcdntDivSize = $(".traffic-acdnt-div").size();
 		for(var i = 1; i < trafficAcdntDivSize+1; i++){
 			if(idx == i){
 				$("#trafficAcdntDiv"+i).css("display","block");
 			}else{
 				$("#trafficAcdntDiv"+i).css("display","none");
 			}
 		}
 	}

 	function fnRemoveTrafficAcndtBtn(idx){
 		$(".traffic-acdnt-span-div"+idx).remove();
 		$("#trafficAcdntDiv"+idx).remove();
 		$("#trafficAcdntDiv1").css("display","block");
 	}

	function syntaxHighlight(json) {
		if (typeof json != 'string') {
			json = JSON.stringify(json, undefined, 2);
		}
		json = json.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');
		return json.replace(/("(\\u[a-zA-Z0-9]{4}|\\[^u]|[^\\"])*"(\s*:)?|\b(true|false|null)\b|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?)/g, function (match) {
			var cls = 'number';
			if (/^"/.test(match)) {
				if (/:$/.test(match)) {
					cls = 'key';
				} else {
					cls = 'string';
				}
			} else if (/true|false/.test(match)) {
				cls = 'boolean';
			} else if (/null/.test(match)) {
				cls = 'null';
			}
			return '<span class="' + cls + '">' + match + '</span>';
		});
	}
	function uploadFile() {
		var formData = new FormData();
		formData.append("file", $("#camera").get(0).files[0]);
		$.ajax({
			type: 'POST',
			url: '/api/get_plate_number',
			data: formData,
			dataType: 'json',
			contentType: false,
			cache: false,
			processData:false,
			beforeSend: function(){
				$("#loading").show()
			},
			success: function(response){ //console.log(response);
				$("#result pre").html(syntaxHighlight(response))
				if(response.success) {
					$("#plate").val(response.plate_number)
					$("#vioNm").val(response.driver_info.forename + " "+ response.driver_info.surname);
					$("#vioBrth").val(response.driver_info.birth);
					$("#vioEmail").val(response.driver_info.email);
					$("#vioAddr").val(response.driver_info.address);
					$("#vioPno").val(response.driver_info.phone);
					$("#dvrLcenTy").val(response.driver_info.dvrLcenTy);
					$("#vhRegNo").val(response.vehicle_info.vehicle_registration_number)
					$("#vhTy").val(response.vehicle_info.vehicle_type)
				}
			},
			complete: function(){
				$("#loading").hide()
			}
		})
		// let formData = new FormData();
		// formData.append("file", $("#picture").get(0).files[0]);
		// let response = await fetch('/api/get_plate_number', {
		// 	method: "POST",
		// 	body: formData
		// }).then(function(response) {
		// 	return response.json();
		// });
		// console.log(response)
		// $("#result pre").html(syntaxHighlight(response))
	}
	$("#camera").on("change", function(){
		uploadFile()
	})

</script>