<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="footerFragment" class="footer">
	<div id="fixed-menu" class="">
		<ul>
			<li>
				<a th:href="@{/tfcenfmng/list}">
					<img src="/images/fixed-menu03.png">
					<div class="fixed-menu-title" th:text="#{main.footer.history}">History</div>
				</a>
			</li>
			<li>
				<a th:href="@{/main}">
					<img src="/images/fixed-menu01.png">
					<div class="fixed-menu-title" th:text="#{main.footer.home}">Home</div>
				</a>
			</li>
			<li>
				<a th:href="@{/myinfo/list}">
					<img src="/images/fixed-menu04.png">
					<div class="fixed-menu-title" th:text="#{main.footer.option}">Option</div>
				</a>
			</li>
		</ul>
	</div>
</div>
</html>
