<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<th:block th:fragment="headFragment">
		<head>
		    <meta charset="utf-8">
		    <meta http-equiv="X-UA-Compatible" content="IE=edge">
		    <meta name="viewport" content="width=device-width">
		    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		    <meta name="description" content="Flower is free physiotherapy website template that perfectly designed for therapy center, physical therapy program courses, physiotherapy clinic and physician.">
		    <meta name="keywords" content="best free website templates, html5 template, free responsive website templates,website layout,html5 website templates,template for website design, medical HTML5 templates">
		    <title th:text="#{main.header.title}">MOZ-ATES Police App</title>
		    
		    <!--파비콘-->
			<link rel="icon" th:href="@{/images/favilogo2.png}">

		    <!-- Style -->
		    <link th:href="@{/css/reset.css}" rel="stylesheet">
		    <link th:href="@{/css/common.css}" rel="stylesheet">
		    <link th:href="@{/css/layout.css}" rel="stylesheet">
		    <link th:href="@{/css/base.css}" rel="stylesheet">
		    <link th:href="@{/css/login.css}" rel="stylesheet">
			<link th:href="@{/css/main.css}" rel="stylesheet">
			<link th:href="@{/css/sub.css}" rel="stylesheet">
		    <link th:href="@{/css/fonts.css}" rel="stylesheet">
			<link th:href="@{/js/libs/sweetalert2/sweetalert2.css}" rel="stylesheet">
			<script th:src="@{/js/jquery.min.js}"></script>
			<script th:src="@{/js/lib.js}"></script>
			<script th:src="@{/js/common.js}"></script>
			<script th:src="@{/js/libs/mapbox/mapbox-gl.js}"></script>
			<link th:href="@{/js/libs/mapbox/mapbox-gl.css}" rel='stylesheet' />
			<script th:src="@{/js/libs/sweetalert2/sweetalert2.all.min.js}"></script>
			<script th:src="@{/js/mozates.police.app.js}"></script>
			<script th:src="@{/js/mozates.police.map.js}"></script>
			<script th:src="@{/js/moj.search.api.js}"></script>
		</head>
	</th:block>
</html>