<html xmlns:th="httpftfcLawId://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/sub_layout"
      th:with="headerTitle=#{tfcenfmng.trafficEnfceRegPage.crackdownRegist}">
<div layout:fragment="content" id="gis-with-container">
    <div id="map" class="map">
    </div>
    <div id="gisinfo-container">
        <p class="alert-box alert-warning mb30" th:text="#{common.map.location.help}"></p>
        <div id="gis-sub-container">
            <form id="trafficEnfceRegForm" name="trafficEnfceRegForm" method="post" th:action="@{/tfcenfmng/trafficEnfceRegPageRegister}" onsubmit="return false">
                <input type="hidden" id="pymntOprtr" name="pymntOprtr">
                <input type="hidden" id="lat" name="lat" value="">
                <input type="hidden" id="lng" name="lng" value="">
                <div class="crackdown-wrap">
                    <div class="formRegistTitle" onclick="enforcementDev()">
                        <h2 th:text="#{tfcenfmng.trafficEnfceRegPage.registerViolatorInfo}">위반자 정보 등록</h2>
                    </div>
                    <div class="formRegistList">
                        <label  for="vhRegNo" th:text="#{tfcenfmng.trafficEnfceRegPage.plateNumber}">Plate Number</label>
                        <input type="text" id="vhRegNo" name="vhRegNo" required autofocus title="Input vehicle number." th:placeholder="#{tfcenfmng.trafficEnfceRegPage.plateNumber}" th:value="${apiDriverInfo?.vhRegNo}">
                    </div>
                    <div class="formRegistList">
                        <label  for="vhTy" th:text="#{tfcenfmng.trafficEnfceRegPage.contentVehicleType}">Vehicle Type</label>
                 	    <select id="vhTy" name="vhTy" title="Select vehicle type.">
                            <option th:text="#{tfcenfmng.trafficEnfceRegPage.contentVehicleType}" value="">Driver License Id</option>
                            <option th:each="item : ${vehicleTypeCdList}" th:value="${item.cdId}" th:text="${item.cdNm}"></option>
                        </select>
                    </div>
                    <div class="formRegistList">
                        <label  for="dvrLcenId"
                               th:text="#{tfcenfmng.trafficEnfceRegPage.contentDriverLicenseId}">Driver License Id</label>
                 	    <select id="dvrLcenId" name="dvrLcenId" title="Select driver license number.">
                            <option th:text="#{tfcenfmng.trafficEnfceRegPage.contentDriverLicenseId}" value="">Driver License Id</option>
                            <option th:each="item : ${dvrLcenTyList}" th:value="${item.cdId}" th:text="${item.cdNm}"></option>
                        </select>
                    </div>
                    <div class="formRegistList">
                        <label for="dvrLcenTy" th:text="#{tfcenfmng.trafficEnfceRegPage.contentLicenseType}">License Type</label>
                        <input type="text" id="dvrLcenTy" name="dvrLcenTy" required  title="Input driver license type." th:placeholder="#{tfcenfmng.trafficEnfceRegPage.contentLicenseType}" >
                    </div>
                    <div class="formRegistList">
                        <label  for="docType"
                               th:text="#{tfcenfmng.trafficEnfceRegPage.contentDocumentType}">Document Type</label>
                        <input type="text" id="docType" name="docType" required th:placeholder="#{tfcenfmng.trafficEnfceRegPage.contentDocumentType}" title="Input Document Type."th:value="${apiDriverInfo?.tipodedocumento}" >
                    </div>
                    <div class="formRegistList">
                        <label for="docNid" th:text="#{tfcenfmng.trafficEnfceRegPage.contentDocumentNid}">Document Number</label>
                        <input type="text" id="docNid" name="docNid" required title="Input driver license type." th:placeholder="#{tfcenfmng.trafficEnfceRegPage.contentDocumentNid}" th:value="${apiDriverInfo?.numerododocumento}">
                    </div>
                    <div class="formRegistList">
                        <label for="vioAddr" th:text="#{tfcenfmng.trafficEnfceRegPage.contentVioAddress}">vio Address</label>
                        <input type="text" id="vioAddr" name="vioAddr" th:placeholder="#{tfcenfmng.trafficEnfceRegPage.contentVioAddress}" required title="Input violator address." th:value="${apiDriverInfo?.vioAddr}">
                    </div>
                    <div class="formRegistList">
                        <label for="vioNm" th:text="#{tfcenfmng.trafficEnfceRegPage.contentName}">Name</label>
                        <input type="text" id="vioNm" name="vioNm" th:placeholder="#{tfcenfmng.trafficEnfceRegPage.contentName}" required title="Input violator name." th:value="${apiDriverInfo?.nome}">
                    </div>
                    <div class="formRegistList">
                        <label for="vioBrth" th:text="#{tfcenfmng.trafficEnfceRegPage.contentBirthDay}">Birthday</label>
                        <input type="text" id="vioBrth" inputmode="numeric" name="vioBrth" placeholder="dd.mm.aaaa" title="Input violator birth date." maxlength="10" onkeyup="keyupDateCheck(event, 'ddMMyyyy', '.')" th:value="${apiDriverInfo?.datadenascimento}">
                    </div>
                    <div class="formRegistList">
                        <label for="vioPno" th:text="#{tfcenfmng.trafficEnfceRegPage.contentPhone}">Phone</label>
                        <input type="text" id="vioPno" name="vioPno" th:placeholder="#{tfcenfmng.trafficEnfceRegPage.contentPhone}" required title="Input violator phone number." th:value="${apiDriverInfo?.contacto}">
                    </div>
                    <div class="formRegistList">
                        <label for="vioEmail" th:text="#{tfcenfmng.trafficEnfceRegPage.contentEmail}">Email</label>
                        <input type="email" id="vioEmail" name="vioEmail"
                               pattern="[a-zA-Z0-9]+[@][a-zA-Z0-9]+[.]+[a-zA-Z]+[.]*[a-zA-Z]*"
                               th:placeholder="#{tfcenfmng.trafficEnfceRegPage.contentEmail}">
                    </div>
                </div>
                <div class="crackdown-wrap">
                    <div class="formRegistTitle mb30">
                        <h2 th:text="#{tfcenfmng.trafficEnfceInfoRegist.crackdownInfoRegist}">단속 정보 등록</h2>
                    </div>
                    <div class="formRegistList">
                        <label  for="roadAddr" th:text="#{tfcenfmng.trafficEnfceRegPage.contentRoadAddress}">Road Address</label>
                        <input type="text" id="roadAddr" autocomplete="off" list="loadedRoadAddr" name="roadAddr" required title="Input or select street name." th:placeholder="#{tfcenfmng.trafficEnfceRegPage.contentRoadAddress}" >
                        <datalist id="loadedRoadAddr">

                        </datalist>
                    </div>
                    <div class="formRegistList">
                        <label for="tfcLawId" th:text="#{tfcenfmng.trafficEnfceRegPage.IllegalLaw}">Illegal Law</label>
                        <select id="tfcLawId" name="tfcLawId" title="Select Law." onchange="viewLwFineInfo(this)">
                            <option th:text="#{tfcenfmng.trafficEnfceRegPage.content.lawsSelectBox}" value="">Laws Select</option>
                            <option th:each="trafficLawList : ${trafficLawList}" th:value="${trafficLawList.tfcLawId}" th:text="${trafficLawList.lawNm}"></option>
                        </select>
                    </div>
                    <div class="formRegistList detail-law-div none">
						<label th:text="#{tfcenfmng.trafficEnfceRegPage.IllegalLawDetail}">Illegal Law Detail</label>
                      	<div id="card-list-wrap">
							<!--법률 Warp-->							  
						</div>
						 <button type="button" class="addSubBtn mt16" onclick="fnAddLawDetail();">adicionar</button>
					</div>
					 <div class="formRegistList info-law-div none">
						 <div class="detail-law-table detail-table-body" id="lawInfoUl">
						 </div>
					 </div>
                    <div class="formRegistList">
                        <label  for="totalPrice" th:text="#{tfcenfmng.trafficEnfceRegPage.contentPaymentPrice}">Payment Price</label>
                        <input type="number" readonly id="totalPrice" name="totalPrice" th:placeholder="#{tfcenfmng.trafficEnfceRegPage.contentPaymentPrice}">
                    </div>
                    <div class="formRegistList">
                        <label for="placePymntId" th:text="#{tfcenfmng.trafficEnfceRegPage.contentPlacePayment}">Place Payment</label>
                        <select id="placePymntId" required name="placePymntId">
                            <option value="" th:text="#{tfcenfmng.trafficEnfceRegPage.content.paymentPlaceSelectBox}">Payment Place Select</option>
                            <option th:each="placePaymentList : ${placePaymentList}" th:value="${placePaymentList.placePymntId}" th:data-oprtr="${placePaymentList.placePymntRprsvNm}" th:data-placePymntNm="${placePaymentList.placePymntNm}"th:text="${placePaymentList.placePymntNm}"></option>
                        </select>
                    </div>
                    <div class="formRegistList">
                        <label  for="tfcEnfDetail" th:text="#{tfcenfmng.trafficEnfceRegPage.placeholder.enfDetails}">Traffic Enforcement Details</label>
                        <input type="text" id="tfcEnfDetail" name="tfcEnfDetail" th:placeholder="#{tfcenfmng.trafficEnfceRegPage.placeholder.enfDetails}" title="Input Traffic Enforcement Details" >
                    </div>
					 <div class="formRegistList list-plus">
                        <label th:text="#{tfcenfmng.trafficEnfceRegPage.violatorSignature}">Violator's signature</label>
		                <div id="signatureCompleteWrap" class="signnatureBtnCm " style="display:none;" th:text="#{tfcenfmng.trafficEnfceRegPage.signComplete}">
							Signature Complite
						</div>
						<div id="signatureBtnWrap" class="signnatureBtnCm">
			                <div class="signAbout">
								<span th:text="#{tfcenfmng.trafficEnfceRegPage.signAboutFirstLine}">위 내용을 다시 한 번 확인해 주세요.</span><br>
								<span th:text="#{tfcenfmng.trafficEnfceRegPage.signAboutSecondLine}">문제가 없다면, 아래 버튼을 눌러 서명해 주세요.</span>
							</div>
			                <button type="button" id="signOnbtn" onclick="viewSignatureModal()" th:text="#{tfcenfmng.trafficEnfceRegPage.btn.signatureRegist}">Signature Registration</button>
						</div>
	                    <div id="modal-signature-wrap" class="modal">
							<div class="modalContainer">
								<div class="modalHead">
									<h2 class="modalTitle" th:text="#{tfcenfmng.trafficEnfceRegPage.tfcEnfSignature}"></h2>
									<img src="/images/close.png" id="modal-signature-btn-off" class="modalClose">
								</div>
								 <div class="modalBody modalSignBody">
									<div class="signContents">
										<div class="signTitle" th:text="#{tfcenfmng.trafficEnfceRegPage.policeSignature}">경찰 서명</div>
										<div class="signatrueDd modalSignatureWrap">
											<canvas id="policeSign" class="signatureCanvas"></canvas>
	   										<img id="signaturePolImg" style="display:none"/>
										</div>
										<div class="modalSignInfo">
   										    <button type="button" id="polClearBtn" class="clearBtn">
											    <img src="/images/resign.png">
											    <span th:text="#{tfcenfmng.trafficEnfceRegPage.modal.btn.clear}"></span>
											</button>
										</div>
									</div>
									
									<div class="signContents">
										<div class="signTitle" th:text="#{tfcenfmng.trafficEnfceRegPage.violatorSignature}">걸린놈 서명</div>
										<div class="signatrueDd modalSignatureWrap">
											<div class="noSignOn"></div>
											<canvas id="violatorSign" class="signatureCanvas"></canvas>
	   										<img id="signatureVioImg" style="display:none"/>
										</div>
										<div id="signSubCon">
											<div class="noSign" onclick="noSignCheck()">
												<input type="checkbox" class="modalCheck" id="noSignBtn" value="Y">
												<input type="hidden" id="vioSignYn" name="vioSignYn">
												<label for="noSignBtn" class="baseColor" th:text="#{tfcenfmng.trafficEnfceRegPage.modal.btn.noSign}">No Sign</label>
											</div>
											<div class="modalSignInfo">
	   										    <button type="button" id="vioClearBtn" class="clearBtn">
												   <img src="/images/resign.png" alt="clear">
												   <span th:text="#{tfcenfmng.trafficEnfceRegPage.modal.btn.clear}">Clear</span>
											    </button>
											</div>
										</div>
									</div>
 						 			 <div class="modalBtnWrap mt10">
										 <button type="button" id="modal-signature-btn-submit" class="modalSubmitBtn"  onclick="submitSignature(this)"  th:text="#{tfcenfmng.trafficEnfceRegPage.modal.btn.submit}">제출</button>
									 </div>
								 </div>
	                    	</div>
	                    </div>
		            </div>
                </div>
                <div class="crackdown-wrap">
                    <div class="formRegistTitle">
                        <h2 th:text="#{tfcenfmng.trafficEnfceFileUpload.fileUplaod}">첨부파일 업로드</h2>
                    </div>
                    <div class="formRegistList">
                        <label th:text="#{tfcenfmng.trafficEnfceFileUpload.imgVideo}">사진/동영상</label>
                        <div class="camera-upload-list">
                            <ul id="img-file-list-wrapper">
                                <li class="img-file-list camera-first-list active" onclick="openResource()">
                                    <img th:src="@{/images/picture-plus.png}">
                                </li>
                            </ul>
                        </div>
                        <div class="camera-btn">
                            <input id="targetFileInput" type="file" style="display:none;" onchange="fileManager.addFile(this, fileManager)">
                            <p>※ You can skip without entering information.</p>
                        </div>
                    </div>
                </div>
                <div class="btn-wrap is-fixed">
                     <button type="button" id="modalOn" class="mainFixBtn default-btn disabled-radius" th:text="#{tfcenfmng.trafficEnfceRegPage.registerButton}"></button>
                </div>
            </form>
        </div>
    </div>
    <div id="modal-enforcement-info" class="modal">
		<div class="modalContainer">
			<div class="modalHead">
				<h2 class="modalTitle" th:text="#{tfcenfmng.trafficEnfceRegPage.modal.title}">단속등록 확인</h2>
				<img src="/images/close.png" id="modalOff" class="modalClose">
			</div>
			 <div class="modalBody">
				  <div id="modalRegistListDiv"class="modalRegistList">
					<!--단속정보 등록내요 리스트-->
				 	<dl class="modalRegistInfo">
					   <dt th:text="#{tfcenfmng.trafficEnfceRegPage.modal.content.plateNumber}">Plate Number</dt>
					   <dd id="mdVhRegNo">142-2341</dd>
					</dl>
					<dl class="modalRegistInfo">
					   <dt th:text="#{tfcenfmng.trafficEnfceRegPage.modal.content.vehicleType}">Vehicle Type</dt>
					   <dd id="mdVhTy">Traffic</dd>
					</dl>
					<dl class="modalRegistInfo">
					   <dt th:text="#{tfcenfmng.trafficEnfceRegPage.modal.content.driverLicenseId}">Driver license ID</dt>
					   <dd id="mdDvrLcenId">Npm Start</dd>
					</dl>
					<dl class="modalRegistInfo">
					   <dt th:text="#{tfcenfmng.trafficEnfceRegPage.modal.content.driverLicenseType}">Driver License Type</dt>
					   <dd id="mdDvrLcenTy">Npm Start</dd>
					</dl>
					<dl class="modalRegistInfo">
					   <dt th:text="#{tfcenfmng.trafficEnfceRegPage.modal.content.docType}">Document Type</dt>
					   <dd id="mdDocType">Npm Start</dd>
					</dl>
					<dl class="modalRegistInfo">
					   <dt th:text="#{tfcenfmng.trafficEnfceRegPage.modal.content.docNid}">Document Number</dt>
					   <dd id="mdDocNid">Npm Start</dd>
					</dl>
					<dl class="modalRegistInfo">
					   <dt th:text="#{tfcenfmng.trafficEnfceRegPage.modal.content.violatorAddr}">Violation Address</dt>
					   <dd id="mdVioAddr">Npm Start</dd>
					</dl>
					<dl class="modalRegistInfo">
					   <dt th:text="#{tfcenfmng.trafficEnfceRegPage.modal.content.violatorName}">Violation Name</dt>
					   <dd id="mdVioNm">Npm Start</dd>
					</dl>
					<dl class="modalRegistInfo">
					   <dt th:text="#{tfcenfmng.trafficEnfceRegPage.modal.content.violatorBirthDay}">Violator Birth Day</dt>
					   <dd id="mdVioBrth">Npm Start</dd>
					</dl>
					<dl class="modalRegistInfo">
					   <dt th:text="#{tfcenfmng.trafficEnfceRegPage.modal.content.violatorPhoneNumber}">Violator Phone Number</dt>
					   <dd id="mdVioPno">Npm Start</dd>
					</dl>
					<dl class="modalRegistInfo">
					   <dt th:text="#{tfcenfmng.trafficEnfceRegPage.modal.content.violatorEmail}">Violator Email Address</dt>
					   <dd id="mdVioEmail">Npm Start</dd>
					</dl>
					<dl class="modalRegistInfo">
					   <dt th:text="#{tfcenfmng.trafficEnfceRegPage.modal.content.roadAddr}">Road Address</dt>
					   <dd id="mdRoadAddr">Npm Start</dd>
					</dl>
<!--					<dl class="modalRegistInfo">-->
<!--					   <dt th:text="#{tfcenfmng.trafficEnfceRegPage.modal.content.lat}">Latitude</dt>-->
<!--					   <dd id="mdLat">Npm Start</dd>-->
<!--					</dl>-->
<!--					<dl class="modalRegistInfo">-->
<!--					   <dt th:text="#{tfcenfmng.trafficEnfceRegPage.modal.content.lng}">Longitude</dt>-->
<!--					   <dd id="mdLng">Npm Start</dd>-->
<!--					</dl>-->
					<dl id="illegalLaw" class="modalRegistInfo">
					   <dt th:text="#{tfcenfmng.trafficEnfceRegPage.modal.content.illegalLaw}">Illegal Law Detail</dt>
					</dl>
					<dl class="modalRegistInfo">
					   <dt th:text="#{tfcenfmng.trafficEnfceRegPage.modal.content.limitSpeed}">Limit Speed</dt>
					   <dd id="mdSpdLmt">Npm Start</dd>
					</dl>
					<dl class="modalRegistInfo">
					   <dt th:text="#{tfcenfmng.trafficEnfceRegPage.modal.content.violationSpeed}">Violation Speed</dt>
					   <dd id="mdVioSpd">Npm Start</dd>
					</dl>
					<dl class="modalRegistInfo">
					   <dt th:text="#{tfcenfmng.trafficEnfceRegPage.modal.content.overSpeed}">Exceeding Speed</dt>
					   <dd id="mdOverSpd">Npm Start</dd>
					</dl>
					<dl class="modalRegistInfo">
					   <dt th:text="#{tfcenfmng.trafficEnfceRegPage.modal.content.totalPrice}">Total Price</dt>
					   <dd id="mdTotalPrice">Npm Start</dd>
					</dl>
					<dl class="modalRegistInfo">
					   <dt th:text="#{tfcenfmng.trafficEnfceRegPage.modal.content.paymentPlace}">Payment Place Name</dt>
					   <dd id="mdPlacePymntId">Npm Start</dd>
					</dl>
					<dl id="modal-img-wrap"class="modalRegistInfo">
					   <dt th:text="#{tfcenfmng.trafficEnfceRegPage.modal.content.images}">Images</dt>
					</dl>
					<dl class="modalRegistInfo">
					   <dt th:text="#{tfcenfmng.trafficEnfceRegPage.modal.content.police.signature}">Police Signature</dt>
					   <dd> <img id="mdPolSignaturePreview" src="" alt="Police Signature Preview" class="SignImg"></dd>
					</dl>
					<dl class="modalRegistInfo">
					   <dt th:text="#{tfcenfmng.trafficEnfceRegPage.modal.content.violator.signature}">Violator Signature</dt>
					   <dd id="mdVioSignatureDd">
						   <img id="mdVioSignaturePreview" src="" alt="Violator Signature Preview" class="SignImg">
					   </dd>
					</dl>
			 	 </div>
			 </div>
			 <div class="modalBtnWrap">
<!--				 <button type="button"  class="subFixBtn" th:text="#{tfcenfmng.trafficEnfceRegPage.modal.btn.cancel}">취소</button>-->
				 <button type="button" id="infoCheckBtn" class="modalSubmitBtn radius0" onclick="enforcementRegisterSubmit(this)" th:text="#{tfcenfmng.trafficEnfceRegPage.modal.btn.submit}">제출</button>
			 </div>
		</div>
	</div>
</div>
</html>
<script type="text/javascript" th:inline="javascript">
    const canvasPolice = document.getElementById('policeSign');
    const canvasPerson = document.getElementById('violatorSign');
	
    const errMsg = /*[[${resultMsg}]]*/;
   	const fileManager = new MozAtesPoliceApp.fileManager();
   
    let isSignatureCompleted = false;
    let isVioSignatureCompleted = false;
    let signatureModal = document.getElementById('modal-signature-wrap');
    
	const violatorClearButton = document.querySelector('#vioClearBtn');
	const policeClearButton = document.querySelector('#polClearBtn');
	const offButton = document.querySelector('#modal-signature-btn-off');
	
	$(document).ready(function(){
		modalToggle();
		canvasInit(canvasPolice,'pol');
		canvasInit(canvasPerson,'vio');
	});
	
	function canvasInit(canvas,type) {
	    const ctx = canvas.getContext('2d');
	    let writingMode = false;
	    canvas.width= $(window).width();
	    canvas.height= 300;
	    
	    const handleTouchEvent = (event) => {
	        event.preventDefault(); // 터치 이벤트의 기본 동작 방지
	     
	        const eventType = event.type;
	        if (eventType === 'touchstart') {
				switch(type){
					case 'pol':
					isSignatureCompleted = true;
		            break;
					case 'vio':
					isVioSignatureCompleted = true;
		            break;
	            }
	            writingMode = true;
	            ctx.beginPath();
	            const [positionX, positionY] = getCursorPosition(event);
	            ctx.moveTo(positionX, positionY);
	            
	        } else if (eventType === 'touchend') {
	            writingMode = false;
	        } else if (eventType === 'touchmove' && writingMode) {
	            const [positionX, positionY] = getCursorPosition(event);
	            ctx.lineTo(positionX, positionY);
	            ctx.stroke();
	        }
	        
	        updateSubmitButton();
	    }
	
	    ['touchstart', 'touchend', 'touchmove'].forEach((eventType) => {
	        canvas.addEventListener(eventType, handleTouchEvent, { passive: false });
	    });
	
	    ctx.lineWidth = 3;
	    ctx.lineJoin = ctx.lineCap = 'round';
		switch(type){
			case 'pol':
		    policeClearButton.addEventListener('click', (event) => {
		        event.preventDefault();
		        ctx.clearRect(0, 0, canvas.width, canvas.height);
		        isSignatureCompleted = false;
		        updateSubmitButton();
		    });
			break;
			case 'vio':
		    violatorClearButton.addEventListener('click', (event) => {
		        event.preventDefault();
		        ctx.clearRect(0, 0, canvas.width, canvas.height);
		        isVioSignatureCompleted = false;
		        updateSubmitButton();
		    });
			break;
		}

	}
	
	function getCursorPosition(event) {
	    const rect = event.target.getBoundingClientRect();
	    const positionX = event.touches[0].clientX - rect.left;
	    const positionY = event.touches[0].clientY - rect.top;
	    return [positionX, positionY];
	}
	
	function updateSubmitButton() {
		let submitButton = document.getElementById('modal-signature-btn-submit');
		let noSignCheckBox = document.getElementById('noSignBtn');
		
    if (isSignatureCompleted && (isVioSignatureCompleted || noSignCheckBox.checked)) {
        submitButton.classList.add('on');
    } else {
        submitButton.classList.remove('on');
    }
}
	
    function openResource(){
        let input = document.getElementById('targetFileInput');
        input.accept = 'image/*'
        input.removeAttribute('capture');
        input.click();
    }
    
    function openCamera() {
        let input = document.getElementById('targetFileInput');
        input.accept = 'image/*'
        input.capture = 'camera'
        input.click();
    }
    
    function enforcementDev(){
        $("form#trafficEnfceRegForm input:not([type='file'])").each(function(){
            if($(this).attr("name") === "vhRegNo"){
                $(this).val("Maputo 1234");
            //}else if($(this).attr("name") === "vhTy"){
            //    $(this).val("VT000C");
           // }else if($(this).attr("name") === "dvrLcenId"){
          //      $(this).val("DLT003");
            }else if($(this).attr("name") === "dvrLcenTy"){
                $(this).val("1jong botong DriverLc");
            }else if($(this).attr("name") === "vioNm"){
                $(this).val("IN KI Moon");
//                $(this).val(generateRandomName());
            }else if($(this).attr("name") === "vioBrth"){
                $(this).val("11.09.1998");
            }else if($(this).attr("name") === "vioPno"){
                $(this).val("+258 04 354 4587");
            }else if($(this).attr("name") === "roadAddr"){
                $(this).val("Avenida Eduardo Mondlane, Maputo");
            }else if($(this).attr("type") === "email"){
                $(this).val("email@email.com");
            }else{
                $(this).val(randomString(8));
            }
        });
        //$("#spdLmt").val(60);
        //$("#vioSpd").val(80);
        //$("#vioSpd").trigger("keyup");
    }
    
    function enforcementRegisterSubmit(_this) {
		if(_this.classList != null && !_this.classList.contains('on') && !isSignatureCompleted){
			return;
		}
		
        document.getElementById("lat").value = map.getLat();
        document.getElementById("lng").value = map.getLng();
        if(!document.trafficEnfceRegForm.checkValidity()) {
            document.trafficEnfceRegForm.reportValidity();
            return;
        }
        const formData = new FormData(document.trafficEnfceRegForm);
        const fileList = fileManager.getFileList();
        for(const file of fileList) {
            if (!file.is_delete) {
                formData.append("files", file);
            }
        }
        
        const mozTfcEnfFineInfoList = new Array();
        
		const fineUl = document.querySelectorAll(".fineUl"); 
		const tfcLawFineIdList = document.querySelectorAll(".tfcLawFineId");
		const tfcEnfPriceList = document.querySelectorAll(".tfcEnfPrice");
		const tfcLawIdList = document.querySelectorAll(".tfcLawId");
		
		if(fineUl.length == 0){
			alert("No fine information found.")
			return;
		}
        
        for(var i = 0; i < fineUl.length; i++){
        	const mozTfcEnfFineInfo = new Object();
        	const tfcLawFineId = tfcLawFineIdList[i].getAttribute("data-tfcLawFineId");
        	const tfcLawId = tfcLawIdList[i].getAttribute("data-tfcLawId");
        	const tfcEnfPrice = tfcEnfPriceList[i].getAttribute("data-tfcEnfPrice");
        	
        	mozTfcEnfFineInfo.tfcLawFineId = tfcLawFineId;
        	mozTfcEnfFineInfo.tfcEnfPrice = tfcEnfPrice;
        	mozTfcEnfFineInfo.tfcLawId = tfcLawId;
        	
        	mozTfcEnfFineInfoList.push(mozTfcEnfFineInfo);
		}
		
        if(mozTfcEnfFineInfoList.length > 0){
	        formData.append("mozTfcEnfFineInfoJSONString", JSON.stringify(mozTfcEnfFineInfoList));
		}
		
		//서명 이미지관련 promise
		const policeBlobPromise = new Promise((resolve, reject) => {
		    canvasPolice.toBlob((blob) => {
		        resolve(blob);
		    }, 'image/png');
		});
		
		const personBlobPromise = new Promise((resolve, reject) => {
		    canvasPerson.toBlob((blob) => {
		        resolve(blob);
		    }, 'image/png');
		});
		
        Promise.all([policeBlobPromise, personBlobPromise]).then(([policeBlob, personBlob]) => {
		    formData.append('polSignatureFile', policeBlob, 'pol_signature.png');
		    formData.append('vioSignatureFile', personBlob, 'vio_signature.png');
		    console.log(formData);
		    
		    const loading = MozAtesPoliceApp.loading("Saving...").start();
		    
		    fetch('/tfcenfmng/trafficEnfceRegPageRegister', {
		        method: "post",
		        body: formData
		    }) 
		    .then(response => response.json())
		    .then((result) => {
		        if (result.code === 200) {
		            let tfcEnfId = result.data;
		            alert("Register complete.");
		            location.href="/main"
		        } else {
		            alert("Register Failed");
		        }
		    }).finally(() => {
		        loading.end();
		    });
		});
    }
    //$("#vioSpd").on("keyup", function () {
    //    var spdLmt = $("#spdLmt").val();
    //    spdLmt = Number(spdLmt);
    //
    //    var vioSpd = $(this).val();
    //    vioSpd = Number(vioSpd);
    //
    //    var overSpd = spdLmt - vioSpd;
    //    if (spdLmt < vioSpd) {
    //        overSpd = (overSpd * -1);
    //    } else {
    //        overSpd = 0;
    //    }
    //    $("#overSpd").val(overSpd);
    //})
    $("#placePymntId").on("change", function () {
        var oprtr = $("#placePymntId option:selected").data("oprtr");
        $("#pymntOprtr").val(oprtr);
    })


    let map = new MozAtesPoliceMap({
        elementId : 'map',
        useGeoLocation : true,
        loadedGeoCodeCallback : function(core, data){
            const streetList = core.util.refineStreetName(data.features);
            const datalist = document.getElementById("loadedRoadAddr");
            datalist.innerHTML = "";
            let options = "";
            for(const streetName of streetList) {
                options += `<option>${streetName}</option>`;
            }
            datalist.innerHTML = options;
        }
    });
    
    function viewLwFineInfo(_this){
		const tfcLawId = _this.value;
		
		document.getElementById("card-list-wrap").empty();
		
		const loading = MozAtesPoliceApp.loading("loading..").start();
		
		 $.ajax({
            url: /*[[@{/tfcenfmng/lwFineInfo.ajax}]]*/ "/tfcenfmng/lwFineInfo.ajax",
            type: "post",
			dataType : "json",
			data :{
				"tfcLawId" : tfcLawId
			},
            success: function (result) {
				const lawFineInfoList = result.data;
				if(lawFineInfoList != null){
				// 데이터 있을시
				$(".detail-law-div").removeClass("none");
					for(var i = 0; i < lawFineInfoList.length; i++){
						const tfcLawFineId = lawFineInfoList[i].tfcLawFineId;
						const fineDesc = lawFineInfoList[i].fineDesc;
						const finePrice = lawFineInfoList[i].finePrice;
						const finePriceStr = numberComma(lawFineInfoList[i].finePrice);
						
						const labelId = 'card_'+i;
						const addLabel = document.createElement('label');
						addLabel.classList.add('card-list');
						addLabel.setAttribute('for',labelId);
						addLabel.innerHTML = 
								`<div class="card-check"><input type="radio" id="${labelId}" name="lawDetailInfo" class="card-list-radio" data-law-tfcLawFineId="${tfcLawFineId}" data-law-detail-nm="${fineDesc}" data-law-fine="${finePrice}"> <span>${fineDesc}</span></div> <span>${finePriceStr}MT</span>`; 
						document.querySelector('#card-list-wrap').append(addLabel);
					}
				}
			},
			complete: function() {
				loading.end();
    		}
    	})
	}
	
	function fnAddLawDetail(){
		//체크드 유효성 검사 필요
		const tfcLawId = document.getElementById("tfcLawId").value;
		
		if(tfcLawId == null || tfcLawId == ''){
			alert("choice Laws");
			return false;
		}
		
		if(!$(".card-list-radio").is(":checked")){
			alert("choice Law Fine");
			return false;
		}
		
		//pk필요시 추가 필요
		let tfcLawIdNm = $("#tfcLawId option:selected").text();
		let tfcLawFineId = $(".card-list-radio:checked").attr("data-law-tfcLawFineId");
		let lawDetailNm = $(".card-list-radio:checked").attr("data-law-detail-nm");
		let lawFine = $(".card-list-radio:checked").attr("data-law-fine");

		let lawFineStr = numberComma(lawFine);
		
		/*let lawInfoHtml = `<ul class="fineUl">
							  <li class="tfcLawId" data-tfcLawId="${tfcLawId}">${tfcLawIdNm}</li>
							  <li class="tfcLawFineId" data-tfcLawFineId="${tfcLawFineId}">${lawDetailNm}</li>
							  <li class="tfcEnfPrice" data-tfcEnfPrice="${lawFine}">${lawFineStr}MT</li>
						 	  <li class="tfcdelete"><button type="button" class="deletebdBtn" onclick="fnDelLawInfo(this);">삭제</button></li>
					 	  </ul>`;*/
					 	  
		let lawInfoHtml = `<div class="fineUl detailLawList">
							  <div class="detailLawCon detailLawTitle">
								  <div class="tfcLawId" data-tfcLawId="${tfcLawId}">${tfcLawIdNm}</div>
								  <div class="tfcdelete"><button type="button" class="detailLawDelete" onclick="fnDelLawInfo(this);"><img src="/images/close.png"></button></div>
							  </div> 
							  <div class="detailLawCon">
								  <div class="tfcLawFineId" data-tfcLawFineId="${tfcLawFineId}">${lawDetailNm}</div>
							  </div>
							  <div class="detailLawCon">
								  <div class="tfcEnfPrice" data-tfcEnfPrice="${lawFine}">${lawFineStr}</div>
							  </div>
					 	  </div>`;			 	  
					 	  
		$(".info-law-div").removeClass("none");			 	  
		$("#lawInfoUl").append(lawInfoHtml);			 	  
		
		//1번째 select option 초기화
		$("select[name='tfcLawId'] option").eq(0).prop("selected",true);
		//law detail 영역 hide
		$(".detail-law-div").addClass("none");
		
		//리스트 초기화
		document.getElementById("card-list-wrap").empty();
		
		//결제금액 UPDATE
		fnSetTotalPrice();
	}
	
	function fnDelLawInfo(_this){
		$(_this).closest('.fineUl').remove();
		
		let lawInfoLenth = $("#lawInfoUl .fineUl").length;
		
		if(lawInfoLenth === 0){
			$(".info-law-div").addClass("none");
		}
		
		fnSetTotalPrice();
	}
	
	function fnSetTotalPrice(){
		const tfcEnfPriceList = document.querySelectorAll(".tfcEnfPrice");
		
		if(tfcEnfPriceList.length == 0){
			document.getElementById("totalPrice").value = 0;
			return false;
		}
        
        var totalPrice = 0;
        for(var i = 0; i < tfcEnfPriceList.length; i++){
        	totalPrice += Number(tfcEnfPriceList[i].getAttribute("data-tfcEnfPrice"));
		}
		
		document.getElementById("totalPrice").value = totalPrice;
	}
	
	
	function modalToggle() {
		let modal = document.getElementById('modal-enforcement-info');
		let modalOn = document.getElementById('modalOn');
		let modalOff = document.getElementById('modalOff');
		
		let modalRegistList = document.getElementById('modalRegistListDiv');
		let infoCheckBtn = document.getElementById('infoCheckBtn');
		
		modalOn.addEventListener('click', function(){
	        if(!document.trafficEnfceRegForm.checkValidity()) {
	            document.trafficEnfceRegForm.reportValidity();
	            return;
	        }
	        
	        let vhRegNo = document.getElementById('vhRegNo').value;
	        let vhTy = document.getElementById('vhTy').value;
	        let dvrLcenId = document.getElementById('dvrLcenId').value;
	        let dvrLcenTy = document.getElementById('dvrLcenTy').value;
	        let docType = document.getElementById('docType').value;
	        let docNid = document.getElementById('docNid').value;
	        let vioAddr = document.getElementById('vioAddr').value;
	        let vioNm = document.getElementById('vioNm').value;
	        let vioBrth = document.getElementById('vioBrth').value;
	        let vioPno = document.getElementById('vioPno').value;
	        let vioEmail = document.getElementById('vioEmail').value;
	        let roadAddr = document.getElementById('roadAddr').value;
	        /*let spdLmt = document.getElementById('spdLmt').value;
	        let vioSpd = document.getElementById('vioSpd').value;
	        let overSpd = document.getElementById('overSpd').value;*/
	        let totalPrice = document.getElementById('totalPrice').value;
	        let placePymntId = document.getElementById('placePymntId')
	        let placePymntNm = placePymntId.options[placePymntId.selectedIndex].getAttribute("data-placePymntNm");
	        
	        document.getElementById('mdVhRegNo').innerHTML = vhRegNo;
	        document.getElementById('mdVhTy').innerHTML = vhTy;
	        document.getElementById('mdDvrLcenId').innerHTML = dvrLcenId;
	        document.getElementById('mdDvrLcenTy').innerHTML = dvrLcenTy;
	        document.getElementById('mdDocType').innerHTML = docType;
	        document.getElementById('mdDocNid').innerHTML = docType;
	        document.getElementById('mdVioAddr').innerHTML = vioAddr;
	        document.getElementById('mdVioNm').innerHTML = vioNm;
	        document.getElementById('mdVioPno').innerHTML = vioPno;
	        document.getElementById('mdVioEmail').innerHTML = vioEmail;
	        document.getElementById('mdRoadAddr').innerHTML = roadAddr;
	        
	        let fineUl = document.querySelectorAll(".fineUl"); 
			let tfcLawFineIdList = document.querySelectorAll(".tfcLawFineId");
			let tfcEnfPriceList = document.querySelectorAll(".tfcEnfPrice");
			let tfcLawIdList = document.querySelectorAll(".tfcLawId");
			let mdPolSignaturePreview = document.getElementById('mdPolSignaturePreview');
			let mdVioSignaturePreview = document.getElementById('mdVioSignaturePreview');
		
			if(fineUl.length == 0){
				alert("No fine information found.")
				return;
			}
        
	        for(var i = 0; i < fineUl.length; i++){
	        	let tfcLawNm = tfcLawFineIdList[i].innerText;
	        	let fineDesc = tfcLawIdList[i].innerText;
	        	let tfcEnfPrice = numberComma(tfcEnfPriceList[i].getAttribute("data-tfcEnfPrice"));
	        	
				let fineDd = document.createElement('dd');
				
				let tfcLawNmTitle = /*[[#{tfcenfmng.trafficEnfceRegPage.modal.title.lawNm}]]*/;
				let fineDescTitle = /*[[#{tfcenfmng.trafficEnfceRegPage.modal.title.fineDesc}]]*/;
				let tfcEnfPriceTitle = /*[[#{tfcenfmng.trafficEnfceRegPage.modal.title.finePrice}]]*/;
								
				fineDd.innerHTML =
				  `
					<p><span id="ModalBill" class="modalBillInline">${tfcLawNmTitle}</span> :<span class="modalBillInline modalBillConWidth"> ${tfcLawNm}</span></p>
					<p><span id="ModalBill" class="modalBillInline">${fineDescTitle}</span> :<span class="modalBillInline modalBillConWidth"> ${fineDesc}</span></p>
					<p><span id="ModalBill" class="modalBillInline">${tfcEnfPriceTitle}</span> :<span class="modalBillInline modalBillConWidth"> ${tfcEnfPrice}MT</span></p>
				  `;
				document.querySelector('#illegalLaw').append(fineDd);
			}
	        
	        /*document.getElementById('mdSpdLmt').innerHTML = spdLmt;
	        document.getElementById('mdVioSpd').innerHTML = vioSpd;
	        document.getElementById('mdOverSpd').innerHTML = overSpd;*/
	        document.getElementById('mdTotalPrice').innerHTML = totalPrice;
	        document.getElementById('mdPlacePymntId').innerHTML = placePymntNm;
			
			if(!isSignatureCompleted){	
				alert("Please Input Signature");
				return;
			}
			
			mdPolSignaturePreview.src = canvasPolice.toDataURL();
			
			const noSignBtn = document.getElementById('noSignBtn');
			
			if(!noSignBtn.checked) {
				document.getElementById('vioSignYn').value = "Y";
				mdVioSignaturePreview.src = canvasPerson.toDataURL();
			} else {
				document.getElementById('vioSignYn').value = "N";
				document.getElementById("mdVioSignatureDd").classList.add('nosignBg');
				document.getElementById("mdVioSignatureDd").innerText='Recusa de Assinatura';
			}
			
			let imgFileList = document.querySelectorAll(".imgFile");
			
			if(imgFileList != null && imgFileList.length > 0){
			  for (let i = 0; i < imgFileList.length; i++) {
					let imageWrap = document.createElement('dd');
					let imgData = imgFileList[i].innerHTML;	
				
					imageWrap.classList.add("modalImageWrap");
					
					imageWrap.innerHTML = imgData;
					//여기부분 IMG 크기조절필요(지훈팍)
					document.querySelector("#modal-img-wrap").append(imageWrap);
			    }
			} else {
				document.getElementById('modal-img-wrap').style.display = "none";
			}
			
			modal.style.display="block";
		})
		
		modalOff.addEventListener('click', function(){
	        modalRegistList.scrollTo({
				top : 0 ,
				left : 0 ,
				behavor: 'smooth'
			})
			
			if(document.getElementById('illegalLaw') != null){
				document.getElementById('illegalLaw').empty();
			}
	
			modal.style.display="none";
		})
		
		modalRegistList.addEventListener('scroll', function () {
	        if (modalRegistList.clientHeight !== 0 && modalRegistList.clientHeight + modalRegistList.scrollTop >= modalRegistList.scrollHeight - 5) {
	          	infoCheckBtn.classList.add('on');
	        }
	     });
	}
	
	function viewSignatureModal(){
        if(!document.trafficEnfceRegForm.checkValidity()) {
            document.trafficEnfceRegForm.reportValidity();
            return;
        }
        
        let fineUl = document.querySelectorAll(".fineUl"); 
		
		if(fineUl == null || fineUl.length == 0){
			alert("No fine information found.")
			return;
		}
		
		signatureModal.style.display="block";
	}
	
	offButton.addEventListener('click', (event) => {
	    event.preventDefault();
	    const policeCtx = canvasPolice.getContext('2d');
	    policeCtx.clearRect(0, 0, canvasPolice.width, canvasPolice.height);
	    const personCtx = canvasPerson.getContext('2d');
	    personCtx.clearRect(0, 0, canvasPerson.width, canvasPerson.height);
	    
	    signatureModal.style.display = "none";
	    infoCheckBtn.classList.remove('on');
	    
	    isSignatureCompleted=false;
	    isVioSignatureCompleted=false;
        updateSubmitButton();
	});
	
	function submitSignature(_this){
		if(!isSignatureCompleted){
			alert("Please Input Signature");
			return;
		}
		
		signatureModal.style.display = "none";
		
		let signatureBtnWrap = document.getElementById("signatureBtnWrap");
		let signatureCompleteWrap = document.getElementById("signatureCompleteWrap");
		
		signatureCompleteWrap.style.display = "block";
		signatureBtnWrap.style.display = "none"
		
	}
	
	function noSignCheck(){
		const noSignBtn = document.getElementById('noSignBtn');
		const noSignOn = document.querySelector('.noSignOn');
		
		if(noSignBtn.checked == true) {
			isVioSignatureCompleted=true;
			noSignOn.style.display="block";
		} else {
			isVioSignatureCompleted=false;
			noSignOn.style.display="none";
		}
		
		const vioClear = document.getElementById('vioClearBtn');
		vioClear.click();
	}
</script>
