table {
	background: #fff;	
}

input[type="checkbox"] {
	accent-color: #00967a;
}
#login-formContent input[type="text"] {
	width:100%;
	height:60px;
	outline: none;
	font-size:16px;
	padding: 16px;
}
#login-formContent button {
	width:100%;
	height:60px;
	border:none;
	outline: none;
	color: white;
	font-size:18px;
	line-height: inherit;
	border-radius:6px;
	font-weight: 500;
 }
.main-btn {
	background:#008A70;
	width:100%;
	height:60px;
	border:none;
	outline: none;
	color: white;
	font-size:18px;
	line-height: inherit;
	border-radius:6px;
	font-weight: 500;
}
.sub-btn {
	background:#3b3b3b;
	width:100%;
	height:60px;
	border:none;
	outline: none;
	color: white;
	font-size:18px;
	line-height: inherit;
	border-radius:6px;
	font-weight: 500;
}
.btn-wrap {
	margin-top:24px;
	display: flex;
	flex-wrap: wrap;
	gap:16px;
}
#login-wrapper {
	padding:20px;
}
#login-formContent {
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	width:80%;
}
.login-title {
	text-align: center;
	line-height: 32px;
	margin-bottom: 48px;
}
.loginLogo {
	width:20px;
}
.logoLine {
	display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 20px;
}
.joinAbText {
	font-weight: 700;
	margin-top:40px;
	font-size:20px;
	color:#008A70;
	line-height: 20px;
}
.login-title span {
	font-size:24px;
	font-weight: 500;
/*	color:#008A70;*/
}
.login-title h2 span {
	font-size:32px;
	text-align: center;
	font-weight: 800;
}
.idps-input {
	border: none;
	background: #fff;
	outline: none;
	height:50px;
	border-radius:6px;
	padding:12px;
	width:100%;
}
.join-form-wrap div {
	margin-bottom: 20px;
}
.form-div {
	position: relative;
	margin-bottom:16px;
}
.police-form-div input {
	margin-bottom: 18px;
}
.login-passfind {
	margin-top:16px;
	text-align: right;
}
.login-passfind a {
	margin-top:16px;
	font-weight: 500;
	color:#008A70;
}
.form-wrap label {
	display: block;
	margin-bottom:8px;
/*	color:#008A70;*/
	font-weight: 400;
}

.join-btn {
	margin-top:30px;
	text-align: center;
	font-weight: 100;
}
.join-btn span {
	color:#008A70;
}
.completeContainer {
	padding: 40px;
	background:#fff;
	border-radius: 6px;
}
.complete-wrap {
	text-align: center;
}
.complete-wrap img {
	width:40px;
	margin-bottom: 20px;
}
.complete-wrap div {
	font-size:26px;	
}
.complete-phone {
	color:red;
}
.complete-abuot {
	margin:20px 0 50px 0;
	font-size:22px !important;
	color:#000 !important
}
.eye {
	display: block;
    cursor: pointer;
    width: 25px;
    height: 16px;
    background: url(../images/eye_off.png) no-repeat center / cover;
    position: absolute;
    top:41px;
    right: 16px;
}
.eye.on {
    width: 25px; 
    height: 13px;
    background: url(../images/eye_on.png) no-repeat center / cover;
    top: 42px;
    right: 16px;
}
.join-title img {
	float: left;
}
.join-form-wrap {
	margin-top:30px;
}
.name-form input {
	margin-bottom: 8px;
}
.name-form input:last-child {
	margin:0px;
}
.search-table-wrap {
	display: none;
}
.search-table-wrap button {
	width:30%;
	border:none;
	outline: none;
	height: 50px;
	padding:12px;
}
.search-table-wrap table {
	width:100%;
	border-top:2px solid #000;
	margin-top:18px;
}
.search-table-wrap table td {
	padding:12px;
	text-align: center;
	border-bottom: 1px solid #ededed;
	vertical-align: middle;
}
.search-table-wrap table thead td {
	padding:12px;
	background: #ededed;
	vertical-align: middle;
}
.find {
	position: absolute;
	top:40px;
	right:15px;
	width: auto;
	height: auto;
	padding: 8px;
	background: #ededed;
	color:#000;
	font-size:14px;
}
/*회원가입 css 추후 삭제*/
#loginWrapper {
	padding: 20px;
	
}