<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layouts/layout">

<div layout:fragment="content">
	<div id="sub-header">
		<div id="sub-header-wrap">
			<a th:href="@{/main}"><img src="/images/arrow-back.png" class="back"></a>
			<span th:text="#{myinfo.mngList.settings}">Settings</span>
		</div>
	</div>
	<div id="myinfo">
		<ul>
			<li>
				<a href="/myinfo/detail" id="myInfoBtnWrap" class="boxShadow">
					<div id="myInfoBtn">
						<img src="/images/option-img01.png" class="optionImg">
						<span th:text="#{myinfo.mngList.changeMyInfo}">내 정보 변경</span>
					</div>
					<img src="/images/black-arrow.png">
				</a>
			</li>
			<li>
				<a href="/logout" class="boxShadow">
					<img src="/images/option-img02.png" class="optionImg">
				    <span th:text="#{myinfo.mngList.logout}">로그아웃</span>
				</a>
			</li>
		</ul>
	</div>
</div>
</html>
