<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="fragments/head :: headFragment"></th:block>
<body class="login-body">
	<div id="login-wrapper">
		<div id="login-formContent">
	    <!-- Tabs Titles -->
	    	<div class="login-title">
	    		<h2><span th:text="#{user.loginPage.country}">MOZ-ATES</span></h2>
	    		 <span th:text="#{user.loginPage.policeApp}">Police App</span>
	    	</div>
		    <!-- Login Form -->
		    <form th:action="@{/policeLoginCnfrm}" method="post" class="form-wrap">
				<div class="form-div">
					 <label th:text="#{user.loginPage.pl.id}">Police Number</label>
		    	     <input th:placeholder="#{user.loginPage.pl.id}" type="text" class="idps-input" id="appPolId" name="appPolId" placeholder="Police Officer License Id" value="1961">
				</div>
				<div class="form-div">
					  <label th:text="#{user.loginPage.pl.pw}">Password</label>
		    		  <input th:placeholder="#{user.loginPage.pl.pw}" type="password" class="idps-input" id="appPolPw" name="appPolPw" placeholder="Password" value="bluedus1!"><!-- Remind Passowrd -->
					  <div class="login-passfind">
					     <a class="login underlineHover" href="/passWordFind" th:text="#{user.loginPage.find.pw}">Forgot Your Password?</a>
					  </div>
				</div>	
			    <div class="input-submit">
				    <input type="submit" class="mainBtn" value="LogIn" th:value="#{user.loginPage.btn.login}">
			    </div>
			    <div class="join-btn">
					  <a class="login underlineHover" href="/join">Don’t have account?<span> User registration</span></a>
				</div>
		    </form>
	  	</div>
	</div>
</body>
</html>
<script type="text/javascript" th:inline="javascript">
	var message = /*[[${resultMsg}]]*/;
    if(message != null && message != ' '){
		swal({
			  title: "Failed",
			  text: message,
			  icon: "warning",
			  button: "Confirm",
			});
	}
</script>