<html xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="fragments/head :: headFragment"></th:block>
<body class="login-body">
	<div id="loginWrapper">
		<div class="login-formContent">
	    	<div class="logoLine">
				<a href="/login">
					<img src="/images/arrow-back.png" class="back">
				</a>
				<span>PasswordFind<span>
			</div>
		    <form id="frmFindPassword" class="join-form-wrap form-wrap">
				<div class="form-div">
					 <label for="polLcenId" th:text="#{login.passWordFind.polLcenId}">Police Number</label>
		    	     <input th:placeholder="#{user.loginPage.pl.id}" type="text" class="idps-input" id="polLcenId" name="polLcenId" placeholder="Police Officer Account Id">
				</div>	
				<div class="form-div">
					 <label for="brth" th:text="#{login.passWordFind.brth}">Brth</label>
		    	     <input class="idps-input" id="brth" type="date">
				</div>	
			    <div class="btn-wrap">
				   <button type="button" class="main-btn" onclick="findPassword()" th:text="#{login.passWordFind.search}">찾기</button>
				   <button type="button" class="sub-btn" onclick="location.href='/login'" th:text="#{login.passWordFind.login}">로그인</button>
			    </div>
		    </form>
	  	</div>
	</div>
</body>
</html>
<script type="text/javascript" th:inline="javascript">
	function findPassword(){
		
		let polLcenId = document.getElementById('polLcenId').value;
		
		let brthVal = document.getElementById('brth').value;
		
		if(polLcenId == null || polLcenId == ''){
			alert('Please Enter Police Lisence Id');
			return;
		}
		
		if(brthVal == null || brthVal == ''){
			alert('Please Select BirthDay')
			return;
		}
		
   		let brth = new Date(brthVal);
   		 
    	let formattedBrth = brth.toISOString().split('T')[0];
    
   		let frmData = new FormData(document.getElementById('frmFindPassword'));
    	frmData.append('brth', formattedBrth);
    			
		$.ajax({
			url: "/passWordFindAjax",
			type: "post",
			dataType : 'json',
			data : frmData,
	        processData: false,
        	contentType: false,
			success: function (result) {
				console.log(result);
				if(result.code == '200'){
					location.href = "/passWordComplete?polId="+result.data.polId;
				} else {
					alert('Faild Find Password');
				}
			},
			error: function(data) {
				alert('Faild Find Password');
    		}
		});
	}
</script>