<html xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="fragments/head :: headFragment"></th:block>
<link th:href="@{/css/login.css}" rel="stylesheet">
<body class="login-body">
	<div id="loginWrapper">
		<div id="login-formContent">
		
				<div class="complete-wrap">
					<img src="/images/passcomplete-img.png">
					<div class="complete-phone">010-4100-4654</div>
					<div class="complete-abuot">
						To the contact information you entered when signing up
						A temporary password has been sent
					</div>
				</div>	
			    <div class="btn-wrap">
				   <button type="button" class="main-btn" onclick="location.href='/login'" th:text="#{loogin.passWordComplete.ok}">확인</button>
			    </div>
			
			
	  	</div>
	</div>
</body>
</html>
<script type="text/javascript" th:inline="javascript">
	var message = /*[[${resultMsg}]]*/;
    if(message != null && message != ' '){
		swal({
			  title: "Failed",
			  text: message,
			  icon: "warning",
			  button: "Confirm",
			});
	}
</script>